﻿@model Big.MeadJohnson.Business.ViewModel.GeneralReportViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="background-color: #EEEEEE; opacity: 0.9; margin-top: 52px;">
    <h2>Informe General</h2>
    <hr />
    @using (Html.BeginForm())
    {   
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <br />
        <p style="text-align: justify;">Seleccione los criterios de busqueda.</p>
        <div class="form-inline">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.DepartamentId, "Departamento")
                    <br />
                    @Html.DropDownList("DepartamentId", ViewBag.DepartamentId as SelectList, "[Seleccione]", new { id = "DepartamentId", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.CityId, "Ciudad")
                    <br />
                    @Html.DropDownList("CityId", ViewBag.CityId as SelectList, "[Seleccione]", new { id = "CityId", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.MsrId, "Representante")
                    <br />
                    @Html.DropDownList("MsrId", ViewBag.MsrId as SelectList, "[Seleccione]", new { id = "MsrId", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.ProfessionalTypeId, "Tipo de Profesional")
                    @Html.DropDownList("ProfessionalTypeId", ViewBag.ProfessionalTypeId as SelectList, "[Seleccione]", new { id = "ProfessionalTypeId", @class = "form-control" })
                </div>
            </div>
        </div>
        <br />
        <div class="form-inline">
            <div class="form-group">
                <div class="col-md-offset-5 col-md-12" style="margin-bottom: 50px;">
                    <input type="submit" data-toggle="modal" value="Generar Reporte" class="btn btn-primary" />
                    @*@Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-warning" })*@
                </div>
            </div>
        </div>
    }
</div>



