﻿<%@ Page Title="" Language="C#" MasterPageFile="~/APP/MasterPage.Master" AutoEventWireup="true"
    CodeBehind="EntitiesData.aspx.cs" Inherits="OnData.TitanFL.Web.UI.APP.EntitiesData" %>

<asp:Content ID="Content1" ContentPlaceHolderID="maincontent" runat="Server">
    <script src="Scripts/YUI/yahoo/yahoo-min.js"></script>
    <script src="Scripts/YUI/connection/connection-min.js"></script>
    <script src="Scripts/YUI/event/event.js"></script>
    <script type="text/javascript" src="Scripts/YUI/dom/dom-min.js"></script>
    <script type="text/javascript" src="Scripts/YUI/dragdrop/dragdrop-min.js"></script>
    <script type="text/javascript" src="Scripts/YUI/animation/animation-min.js"></script>
    <script type="text/javascript" src="Scripts/YUI/container/container-min.js"></script>
    <script src="Scripts/YUI/treeview/treeview.js"></script>
    <script src="Scripts/TitanFL.js"></script>
    <script src="UIProviders/TitanFL/DataManagerUIProvider.js"></script>
    <link rel="stylesheet" type="text/css" href="Scripts/YUI/container/assets/container.css" />
    <link rel="stylesheet" type="text/css" href="Css/tree.css" />
    <div id="adminedit">
        <table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td width="200" valign="top">
                    <div style="height: 455px; width: 200px; overflow: scroll; border-style: inset; border-bottom-width: thin">
                        <div id="treeContainer" style="width: 300px;">
                        </div>
                    </div>
                </td>
                <td width="5">
                    &nbsp;
                </td>
                <td valign="top">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tr>
                            <td height="20" align="right" valign="Top">
                                <span id="imgLoading">
                                    <img src="../APP/Images/Wait/busy_twirl2_1.gif" />&nbsp;Cargando...</span>
                            </td>
                        </tr>
                    </table>
                    <div id="entityFormContainer">
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="dlgEntityReferenceData" style="visibility: hidden;">
        <div id="bd">
            <table cellpadding="10px">
                <tr>
                    <td style="width: 47%; text-align: center;">
                        <select style="width: 250px;" id="lstEntityInstanceDataNew" size="10">
                        </select>
                    </td>
                    <td style="width: 6%;" align="center">
                        <table>
                            <tr>
                                <td align="center">
                                    <img src="Images/Cluster/last.gif" style="cursor: pointer" onclick="AllEntityInstanceToSelected('New')" />
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <img src="Images/Cluster/next.gif" style="cursor: pointer" onclick="SomeEntityInstanceToSelected('New')" />
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <img src="Images/Cluster/previous.gif" style="cursor: pointer" onclick="SomeSelectedToEntityInstance('New')" />
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <img src="Images/Cluster/first.gif" style="cursor: pointer" onclick="AllSelectedToEntityInstance('New')" />
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="width: 47%; text-align: center;">
                        <select style="width: 250px;" id="lstSelectedNew" size="10">
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="dlgPassword" style="visibility: hidden;">
        <div id="bd">
            <table width="100%" border="0" style="padding-left: 10px; padding-top: 10px">
                <tr>
                    <td style="width: 40%; text-align: right">
                        <span style="color: Red">*</span>&nbsp;Contraseña actual
                    </td>
                    <td style="width: 60%">
                        <input type="password" id="pswCurrent" style="width: 90%" onkeypress="return inCharactersPasswordTitanFL(event)"
                            value="" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 40%; text-align: right">
                        <span style="color: Red">*</span>&nbsp;Contraseña nueva
                    </td>
                    <td style="width: 60%">
                        <input type="password" id="pswNew" style="width: 90%" onkeypress="return inCharactersPasswordTitanFL(event)"
                            value="" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 40%; text-align: right">
                        <span style="color: Red">*</span>&nbsp;Confirmar contraseña nueva
                    </td>
                    <td style="width: 60%">
                        <input type="password" id="pswNewConfirm" style="width: 90%" onkeypress="return inCharactersPasswordTitanFL(event)"
                            value="" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="dlgManageOutOfRangeInstances" style="visibility: hidden;">
        <div id="bd">
            <table width="100%" border="0" cellpadding="10px">
                 <tr>
                    <td style="text-align: left; vertical-align: middle">
                        Que comience por:&nbsp;<input type="text" id="txtFindValue" style="width: 50%" value="" />&nbsp;<input
                            type="button" id="btnFindValue" value="Buscar" onclick="findValue()" />
                    </td>
                </tr>
                <tr>
                    <td style="height: 174px;" align="center" valign="middle">
                        <div style="width: 380px" id="divSelectOutofRange">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</asp:Content>
