﻿<%@ Page Title="" Language="C#" MasterPageFile="~/APP/MasterPage.Master" AutoEventWireup="true"
    CodeBehind="Main.aspx.cs" Inherits="OnData.TitanFL.Web.UI.APP.Main" %>

<asp:Content ID="Content1" ContentPlaceHolderID="maincontent" runat="server">
    <div id="adminedit">
        <span id="menu"></span><span id="shortcuts"></span>
    </div>
</asp:Content>
