﻿<%@ Page Title="" Language="C#" MasterPageFile="~/APP/MasterPage.Master" AutoEventWireup="true" CodeBehind="RecoveryPassword.aspx.cs" Inherits="OnData.TitanFL.Web.UI.APP.RecoveryPassword" %>
<%@ Register Src="~/Controls/RecoveryPassword.ascx" TagName="RecoveryPassword" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="maincontent" runat="Server">
	<div id="adminedit">
		<uc1:RecoveryPassword ID="RecoveryPassword1" runat="server" />
	</div>
</asp:Content>

