﻿#login {
    float: right;
    right: 20px;
    position: absolute;
    z-index: 2000000;
}

#adminedit {
    padding-top: 10px;
}

#logo {
    float: left;    
    padding-right:30px;
}

    #logo img {
        width: 138px;
        height: 65px;
    }
