﻿body {
    background-color: #e7e7e7;
    font-family: 'Sintony', sans-serif;
    font-size: 14px;
    color: #848387;
}
table a {
    font-weight: 700;
}
h1, h2, h3, h4 {
    color: #05437c;
    font-family: 'Sintony', sans-serif;
}

.navbar-inner {
    background-image: none;
    background-color: #05437c;
    padding-top: 5px;
}

.navbar-fixed-top a {
    color: white;
}

#logo {
     margin-top: 10px;
    width: 100px;
}

    #logo img {
        height: auto;
        width: auto;
    }

#login {
    top: 15px;
}

.btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #054E99;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-image: linear-gradient(to bottom, #355EA5, #054E99);
    border-left-color: #0044cc;
    border-right-color: #0044cc;
    border-top-color: #0044cc;
    border-bottom-color: #002a80;
}

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .btn-primary.disabled,
    .btn-primary[disabled] {
        color: #ffffff;
        background-color: #054E99;
        *background-color: #054E99;
    }

    .btn-primary:active,
    .btn-primary.active {
        background-color: #003399 \9;
    }

.navbar .nav > li {
    font-family: 'Sintony', sans-serif;
    line-height: 45px;
}

    .navbar .nav > li > a {
        color: white;
        font-size: 16px;
    }

        .navbar .nav > li > a:hover {
            color: #e69d25;
        }

.dropdown-menu li > a {
    font-size: 14px;
}

div.container-fluid div.footer {
    font-size: 12px;
    border-top: 5px solid #e69d25;
}

    div.container-fluid div.footer p {
        padding-left: 5px;
        padding-top: 15px;
    }

    div.container-fluid div.footer .span3 {
        float: right;
    }

    div.container-fluid div.footer .logo-footer {
        background: url("../Images/logo-footer.png") no-repeat;
        height: 40px;
    }

.full {
    padding: 0;
}

input[type="submit"],
input[type="button"] {
    background-color: #FBB244;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    border-radius: 8px;
    box-shadow: none;
    border: none;
    color: white;
    padding: 8px 20px;
}

    input[type="submit"]:hover,
    input[type="button"]:hover {
        background-color: #054E99;
    }

.main-content {
    min-height: 300px;
}