/*
Copyright (c) 2006, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
Version 0.11.0
*/

.overlay {
	position:absolute;
	display:block;
}

.tt {
	visibility:hidden;
	position:absolute;
	color:#333;
	background-color:#FDFFB4;
	font-family:arial,helvetica,verdana,sans-serif;
	padding:2px;
	border:1px solid #FCC90D;
	font:100% sans-serif;
	width:auto;
}

* html body.masked select {
	visibility:hidden;
}

* html div.panel-container select {
	visibility:inherit;
}

* html div.drag select {
	visibility:hidden;
}

* html div.hide-select select {
	visibility:hidden;
}

.mask {
    z-index:0;   
    display:none;
    position:absolute;
    top:0;
    left:0;
    -moz-opacity: 0.5;
    opacity:.50;
    filter: alpha(opacity=50);
    background-color:#CCC;
}

.hide-scrollbars * {
	overflow:hidden;
}

.hide-scrollbars textarea, .hide-scrollbars select {
	overflow:hidden;
	display:none;
}

.show-scrollbars textarea, .show-scrollbars select {
	overflow:visible;
}

.panel-container {
	position:absolute;
	background-color:transparent;
	z-index:6;
	visibility:hidden;
	overflow:visible;
	width:auto;
}

.panel-container.matte {
	padding:3px;
	background-color:#FFF;
}

.panel-container.matte .underlay {
	display:none;
}

.panel-container.shadow {
	padding:0px;
	background-color:transparent;
}

.panel-container.shadow .underlay {
	visibility:inherit;
	position:absolute;
	background-color:#CCC;
	top:3px;left:3px;
	z-index:0;
	width:100%;
	height:100%;
    -moz-opacity: 0.7;
    opacity:.70;
    filter:alpha(opacity=70);
}

.panel {
	visibility:hidden;
	border-collapse:separate;
	position:relative;
	left:0px;top:0px;
	font:1em Arial;
	background-color:#FFF;
	border:1px solid #000;
	z-index:1;
	overflow:auto;
}

.panel .hd {
	background-color:#708090;
	color:#FFF;
	font-size:100%;
	line-height:100%;
	border:1px solid #FFF;
	border-bottom:1px solid #000;
	font-weight:bold;
	overflow:hidden;
	padding:4px;
}

.panel .bd {
	overflow:hidden;
	padding:4px;
}

.panel .bd p {
	margin:0 0 1em;
}

.panel .close {
	position:absolute;
	top:5px;
	right:4px;
	z-index:6;
	height:12px;
	width:12px;
	margin:0px;
	padding:0px;
	background-repeat:no-repeat;
	cursor:pointer;
	visibility:inherit;
}

.panel .close.nonsecure {
	background-image:url(http://us.i1.yimg.com/us.yimg.com/i/nt/ic/ut/alt3/close12_1.gif);
}

.panel .close.secure {
	background-image:url(https://a248.e.akamai.net/sec.yimg.com/i/nt/ic/ut/alt3/close12_1.gif);
}

.panel .ft {
	padding:4px;
	overflow:hidden;
}

.simple-dialog .bd .icon {
	background-repeat:no-repeat;
	width:16px;
	height:16px;
	margin-right:10px;
	float:left;
}

.dialog .ft, .simple-dialog .ft {
	padding-bottom:5px;
	padding-right:5px;
	text-align:right;
}

.dialog form, .simple-dialog form {
	margin:0;
}

.button-group button {
	font:100 76% verdana;
	text-decoration:none;
	background-color: #E4E4E4;
	color: #333;
	cursor: hand;
	vertical-align: middle;
	border: 2px solid #797979;
	border-top-color:#FFF;
	border-left-color:#FFF;
	margin:2px;
	padding:2px;
}

.button-group button.default {
	font-weight:bold;
}

.button-group button:hover, .button-group button.hover { 
	border:2px solid #90A029;
	background-color:#EBF09E;
	border-top-color:#FFF;
	border-left-color:#FFF;
}

.button-group button:active { 
	border:2px solid #E4E4E4;
	background-color:#BBB;
	border-top-color:#333;
	border-left-color:#333;
}
