﻿@model Big.MeadJohnson.Core.DAL.MJ_PROFESSIONAL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MJ_PROFESSIONAL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GUID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GUID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MSR_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MSR_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MSR_MAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MSR_MAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROFESSIONAL_TYPE_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROFESSIONAL_TYPE_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIRST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIRST_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SECOND_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SECOND_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAS_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAS_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SECOND_LAST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SECOND_LAST_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOCUMENT_NUMBER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOCUMENT_NUMBER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GENDER_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GENDER_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BIRTH_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BIRTH_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REGISTER_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REGISTER_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_BY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_BY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_UPDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_UPDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOKEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOKEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXPIRATION_DATE_TOKEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXPIRATION_DATE_TOKEN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
