﻿@model IEnumerable<Big.MeadJohnson.Core.DAL.MJ_PROFESSIONAL>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GUID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MSR_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MSR_MAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROFESSIONAL_TYPE_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FIRST_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SECOND_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LAS_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SECOND_LAST_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOCUMENT_NUMBER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GENDER_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BIRTH_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REGISTER_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATED_BY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LAST_UPDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOKEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EXPIRATION_DATE_TOKEN)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GUID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MSR_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MSR_MAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROFESSIONAL_TYPE_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FIRST_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SECOND_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LAS_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SECOND_LAST_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOCUMENT_NUMBER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GENDER_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BIRTH_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REGISTER_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATED_BY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LAST_UPDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOKEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EXPIRATION_DATE_TOKEN)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
