.asmMenu 
{
	position: absolute;
	overflow-y: auto;
	z-index: 5;
	
	border: 1px solid lightblue;
	background: #ffffff;
	padding: 5;
	min-height: 50px;
	white-space: nowrap;
}
	
				
.asmMenuItem, .asmSelMenuItem
{			
	color: black;
	background: #ffffff;
	cursor: hand;
	cursor: pointer;
	
	font-family: Arial, Verdana, helvetica, 'sans serif';
	font-size: 9pt;
}


.asmSelMenuItem
{
	background: steelblue;
	white-space: nowrap;
}


A:link.asmNavigationLink, A:active.asmNavigationLink, A:visited.asmNavigationLink, A:hover.asmNavigationLink
{
	color: blue;
	font-family: Arial, Verdana, helvetica, 'sans serif';
	font-size: 9pt;
	margin:0px;
	text-decoration: none;
}
