﻿@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
   /* padding-top: 50px;*/
    padding-top: 80px;
	font-family: 'Roboto', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.panel-footer {
    padding: 11px 15px;
}

.vertical-m{   
    text-align:center;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 55px;
    color: #004990 !important;
}

.navbar-default a {
    color: #004990 !important;
}

.login{
	background: linear-gradient(to right, #ffffff , #e5eef3);
	border-radius: 10px;
	padding: 15px;
	position: relative;
	-webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.28);
-moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.28);
box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.28);
display: inline-block;
width: 100%;

}

.login .asset-woman{
	position: absolute;
	right: 0px;
	bottom: 0;
}

.login .text-title{
	color: #29408A;
	font-size: 38px;
}

.login .text-description{
	color: #606060;
	font-size: 18px;
}

.login .input-group{
	width: 100%;
}


