﻿#mainmenu { /* styles for section or tab menu */
	/*position: relative;*/
	/*top: 43px;*/
	/*left: 200px;*/
	width: 700px;
		/*z-index:100;*/

}
	html>body #mainmenu {
		position: relative; /* Necessary for menu to position in Opera */
	}
	#mainmenu ul { list-style: none; padding: 0px; margin: 0px; }
	#mainmenu li { display: inline; }
	#mainmenu li a:link, #mainmenu li a:visited { 
		background: url('tab1.gif') no-repeat 0px 1px;
		display: block;
		float: left;
		margin-right: 1px;
		width: 116px;
		height: 27px;
		color: #737685; 
		font-weight: bold;
		text-decoration: none; 
		text-align: center;
		padding-top: 6px;
		/* box model hack */
		voice-family: "\"}\"";
		voice-family:inherit;
		height: 21px;
		width: 115px;
	}
	html>body #mainmenu li a:link, html>body #mainmenu li a:visited { width: 115px; height: 21px; }
	#mainmenu li a:active, #mainmenu li a:hover, #mainmenu li a.selected{
		background: url('tab1.gif') no-repeat 0px -92px;
	}
