﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/dataTables.responsive.css" rel="stylesheet" />

    <script src="@Url.Content("~/Scripts/jquery.quicksearch.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/canvasSecretary.js")" type="text/javascript"></script>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':

                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],

                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =

                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);

        })(window, document, 'script', 'dataLayer', 'GTM-NQTXNNN');
    </script>
    <!-- End Google Tag Manager -->
</head>
<body background="~/Content/img/Background-2.jpg">
    @using Microsoft.AspNet.Identity
    <!-- Google Tag Manager (noscript) -->

    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NQTXNNN"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    <!-- End Google Tag Manager (noscript) -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Content/img/logo-3.png" alt="Sample Image" style="height:55px; width:150px;" />
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                @if (Request.IsAuthenticated)
                {
                    if (Big.MeadJohnson.Business.Business.UserBLL.GetUserByUserName(@User.Identity.GetUserName()).IsFirstUse == false)
                    {<ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Inicio", "Index", "Professionals")</li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profesionales<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    @if (User.IsInRole("Súper_Administrador"))
                                    {
                                        <li>@Html.ActionLink("Administrar Profesionales", "Index", "Professionals")</li>
                                    }

                                    @if (User.IsInRole("Representantes") || User.IsInRole("Administrador"))
                                    {
                                        <li>@Html.ActionLink("Gestión de Profesionales", "Index", "Professionals")</li>
                                    }
                                </ul>
                            </li>

                            @if (User.IsInRole("Súper_Administrador"))
                            {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuarios<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Usuarios", "Index", "Users")</li>
                                    </ul>
                                </li>

                            }

                            @if (User.IsInRole("Súper_Administrador") || User.IsInRole("Administrador"))
                            {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Informe general", "Index", "Reports")</li>
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gerentes<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Gerentes", "Index", "Gerentes")</li>
                                    </ul>
                                </li>
                            }
                            @*@if (User.IsInRole("Súper_Administrador"))
                                {
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuración<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Configuraciones del sistema", "Index", "Home")</li>
                                        </ul>
                                    </li>
                                }*@

                        </ul>
                    }
                }

                @Html.Partial("_LoginPartial")

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <!-- Modal -->

        <div class="modal fade" id="genericModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="modalTitle"></h2>
                    </div>
                    <div class="modal-body">
                        <div class="te">
                            <p id="modalMessage"></p>
                        </div>
                        <div id="response" style="margin-top:20px;">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="genericConfirmEnable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="modalTitle">Activar / Inactivar Usuarios</h2>
                    </div>
                    <div class="modal-body">
                        <div class="te">
                            <p id="modalConfirmMessage"></p>
                        </div>
                        <div id="response" style="margin-top:20px;">
                            <button class="btn" id="btnAcept" data-dismiss="modal" aria-hidden="true">Aceptar</button>
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                        </div>
                        <div id="response" style="margin-top:20px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer></footer>
    </div>
    <input type="hidden" id="hfUrlBase" value="@System.Configuration.ConfigurationManager.AppSettings["urlSite"]" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="@Url.Content("~/Scripts/jquery.listswap.js")" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script>
        $("#digitar").click(function () {
            $(this).css("display", "none");
            $('body').append("<div id='mascara' style='position: fixed;width: 100%;height: 100%;left: 0;top: 0;background: rgba(0,0,0,0.7);z-index: -1;'></div>");
            $('#canvas').appendTo('#mascara');
            $("#canvas").css({ "position": "fixed", "left": "50%", "top": "0", "transform": "translate(-50%, -50%)", "-webkit-transform": "translate(-50%, -50%)", "z-index": "10", "background": "#ffffff", "margin": "calc(50vh - 150px) auto 0" });
            //$('.container').css("opacity", "0");
            $(".tabbable").parent().css("display", "none");
            $("#limpiar").parent().appendTo("#mascara");
            $("#limpiar").parent().removeClass("col-md-offset-4");
            $("#limpiar").parent().css({ "position": "fixed", "left": "50%", "bottom": "30%", "transform": "translate(-50%, -50%)", "-webkit-transform": "translate(-50%, -50%)", "text-align": "center" });
            $("#canvas").css("display", "block !important");
        });

        $("#btnSaveCanvas").click(function () {
            $("#digitar").css("display", "block");
            $("#mascara").css("display", "none");
            $(".tabbable").parent().css("display", "block");
            $('#digitar').css("display", "block");



        });

    </script>
</body>
</html>
