﻿
@model Big.MeadJohnson.Domain.Data.MJ_PROFESSIONAL

@Html.AntiForgeryToken()

<div class="container" style=" margin-bottom 25px;">
    <h2>Información personal</h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
 

        

   @Html.HiddenFor(model => model.GUID)
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.PROFESSIONAL_TYPE_ID, "* Tipo de Profesional")
                <select class="form-control" id="PROFESSIONAL_TYPE_ID" name="PROFESSIONAL_TYPE_ID">
                    <option value>[Seleccione]</option>
                    @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.ProfessionalTypeId)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                    
                    
                  
                </select>

                @*@Html.DropDownList("PROFESSIONAL_TYPE_ID", ViewBag.ProfessionalTypeId as SelectList, "[Seleccione]", new { PROFESSIONAL_TYPE_ID = "PROFESSIONAL_TYPE_ID", @class = "form-control" })*@
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.DOCUMENT_NUMBER)
                @*@Html.EditorFor(model => model.DOCUMENT_NUMBER, new { htmlAttributes = new { @class = "form-control" } })*@
                <input type="text" class="form-control" id="DOCUMENT_NUMBER" name="DOCUMENT_NUMBER" />
            </div>
        </div>
    </div>
    <br />
    <p></p>
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.FIRST_NAME)
                @*@Html.EditorFor(model => model.FIRST_NAME, new { htmlAttributes = new { @class = "form-control" } })*@
                <input type="text" class="form-control" id="FIRST_NAME" name="FIRST_NAME" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.SECOND_NAME)
                @*@Html.EditorFor(model => model.SECOND_NAME, new { htmlAttributes = new { @class = "form-control" } })*@
                <input type="text" class="form-control" id="SECOND_NAME" name="SECOND_NAME" />
            </div>
        </div>
    </div>
    <br />
    <p></p>
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.LAST_NAME)
                @*@Html.EditorFor(model => model.LAST_NAME, new { htmlAttributes = new { @class = "form-control" } })*@
                <input type="text" class="form-control" id="LAST_NAME" name="LAST_NAME" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.SECOND_LAST_NAME)
                @*@Html.EditorFor(model => model.SECOND_LAST_NAME, new { htmlAttributes = new { @class = "form-control" } })*@
                <input type="text" class="form-control" id="SECOND_LAST_NAME" name="SECOND_LAST_NAME" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.GENDER_ID, "* Género")
                @*@Html.DropDownList("GENDER_ID", ViewBag.GenderId as SelectList, "[Seleccione]", new { GENDER_ID = "GENDER_ID", @class = "form-control" })*@
                <select class="form-control" id="GENDER_ID" name="GENDER_ID">
                    <option value>[Seleccione]</option>
                    @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.GenderId)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }



                </select>

            </div>
        </div>
    </div>
    <br />
    <p style="text-align: justify;">Fecha de cumpleaños</p>
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.BirthDay)
                @*@Html.EditorFor(model => model.BirthDay, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })*@
                <input type="text" class="form-control" id="BirthDay" name="BirthDay" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.BirthMonth)
                @*@Html.EditorFor(model => model.BirthMonth, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })*@
                <input type="text" class="form-control" id="BirthMonth" name="BirthMonth" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.BirthYear)
                @*@Html.EditorFor(model => model.BirthYear, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })*@
                <input type="text" class="form-control" id="BirthYear" name="BirthYear" />
            </div>
        </div>
    </div>
    <br />
    <p style="text-align: justify;">Infomacion del representante</p>
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.MJ_PROFESSIONAL_CONTACTS.FirstOrDefault().CITY.DEPARTMENT_ID, "* Departamento")
                <br />
                @Html.DropDownList("DEPARTMENT_ID", ViewBag.DepartamentId as SelectList, "[Seleccione]", new { DEPARTMENT_ID = "DEPARTMENT_ID", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.MJ_PROFESSIONAL_CONTACTS.FirstOrDefault().CITY_ID, "* Ciudad")
                <br />
                @Html.DropDownList("CITY_ID", ViewBag.CityId as SelectList, "[Seleccione]", new { CITY_ID = "CITY_ID", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.MSR_ID, "* Representante")
                <br />

                @*@Html.DropDownList("MSR_ID", ViewBag.MsrId as SelectList, "[Seleccione]", new { MSR_ID = "MSR_ID", @class = "form-control" })*@
                <select class="form-control" id="MSR_ID" name="MSR_ID">
                    <option value>[Seleccione]</option>
                    @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.GenderId)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }



                </select>
            </div>
        </div>
    </div>
    <br />
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-offset-5 col-md-12">
                <input type="submit" id="btnSaveProfessional"  value="Guardar" class="btn btn-primary" />
                @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-warning" })
            </div>
        </div>
    </div>
    
</div>
    <script>
        var Url = '@Url.Action("GetCities", "Generic")';
        var Url2 = '@Url.Action("GetAUserByCityId", "Generic")';

    </script>


    

