﻿
<div id="divLaboralInfo" class="container" style=" margin-bottom 25px;">
    <div class="row">
        <div class="col-md-12">
            <p>
                &nbsp;
            </p>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <div class="login">
                <a href="~/Content/files/habeas.pdf" target="_blank" style="color: #29408A; font-size: 14px; font-weight: bold; text-decoration: underline;">Política del manejo de la información</a>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="form-inline" style="align-content:center">
        <div class="form-group">
            <div class="col-md-12" style="align-content:center">
                <canvas id="canvasSecretary">Su navegador no soporta canvas :( </canvas>
                <canvas id='blank' style='display:none'></canvas>
                <br />
            </div>
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-offset-5 col-md-12">
                <p id="limpiarSecretary" class="btn btn-danger">Borrar Firma</p>
                <input type="submit" id="btnSaveCanvasSecretary" data-toggle="modal" value="Guardar" class="btn btn-primary" />
                @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-warning" })
            </div>
        </div>
    </div>
</div>