﻿
@model Big.MeadJohnson.Business.Models.ProfessionalContact


@Html.AntiForgeryToken()

<div class="container" style=" margin-bottom: 25px;">
    <h2>Información de contacto</h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Guid)
    @Html.HiddenFor(model => model.ProfessionalId)
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.ProfessionalDepartamentId, "* Departamento")
                <br />
                @Html.DropDownList("ProfessionalDepartamentId", ViewBag.DepartamentId as SelectList, "[Seleccione]", new { id = "ProfessionalDepartamentId", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.ProfessionalCityId, "* Ciudad")
                <br />
                @Html.DropDownList("ProfessionalCityId", ViewBag.CityId as SelectList, "[Seleccione]", new { id = "ProfessionalCityId", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.ProfessionalBrickId, "Brick")
                <br />
                @Html.DropDownList("ProfessionalBrickId", ViewBag.ProfessionalBrickId as SelectList, "[Seleccione]", new { id = "ProfessionalBrickId", @class = "form-control" })
            </div>
        </div>
    </div>
    <br />
    <p></p>
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.ProfessionalEmail)
                @Html.EditorFor(model => model.ProfessionalEmail, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.ProfessionalCellPhone)
                @Html.EditorFor(model => model.ProfessionalCellPhone, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>


    </div>
    <br />
    <p></p>
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.ProfessionalAddress)
                @Html.EditorFor(model => model.ProfessionalAddress, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>
    <br />
    <p></p>
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-offset-4 col-md-12">
                <input type="submit" id="btnUpdateProfessionalContact" value="Actualizar" class="btn btn-primary" />
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-warning" })
                }
            </div>
        </div>
    </div>
</div>
