﻿@model Big.MeadJohnson.Business.Models.LaborInformation

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.Guid)
@Html.HiddenFor(model => model.ProfessionalId)
@Html.Hidden("hfProfessionType", (int)ViewBag.ProfesionalTypeId)

<div id="divLaboralInfo" class="container" style=" margin-bottom: 25px;">
    <h2>Información laboral</h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p style="text-align: justify;" id="pStarProfession">Fecha en la cual comenzó a ejercer su profesión</p>
    <div class="form-inline" id="divStartProfession">

        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.StartProfessionDay)
                @Html.EditorFor(model => model.StartProfessionDay, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.StartProfessionMonth)
                @Html.EditorFor(model => model.StartProfessionMonth, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.StartProfessionYear)
                @Html.EditorFor(model => model.StartProfessionYear, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
            </div>
        </div>
    </div>
    <br />
    <p>
        <div class="form-group">
            <div class="col-md-12">
                <div class="checkbox">
                    @Html.LabelFor(model => model.IsSpecialist)
                    @Html.EditorFor(model => model.IsSpecialist)
                </div>
            </div>
        </div>
    </p> <div id="divIsSpecialist">
        <div class="form-inline">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.SpecialityId)
                    @Html.DropDownList("SpecialityId", ViewBag.SpecialityId as SelectList, "[Seleccione]", new { id = "SpecialityId", @class = "form-control" })
                </div>
            </div>
            <div class="form-group" id="divSpeciality">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.OtherSpeciality)
                    @Html.EditorFor(model => model.OtherSpeciality, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
    </div>
    <br />
    <p>
        <div class="form-group">
            <div class="col-md-12">
                <div class="checkbox">
                    @Html.LabelFor(model => model.IsStudent)
                    @Html.EditorFor(model => model.IsStudent)
                </div>
            </div>
        </div>
    </p>
    <div id="divIsStudent">
        <div class="form-inline">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.ProfessionalLevelId)
                    @Html.DropDownList("ProfessionalLevelId", ViewBag.ProfessionalLevelId as SelectList, "[Seleccione]", new { id = "ProfessionalLevelId", @class = "form-control" })
                </div>
            </div>
        </div>
        <br />
        <p style="text-align: justify;">Fecha de inicio especialidad</p>
        <div class="form-inline">
            <div class="form-group">

                <div class="col-md-12">
                    @Html.LabelFor(model => model.StartStudyDay)
                    @Html.EditorFor(model => model.StartStudyDay, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.StartStudyMonth)
                    @Html.EditorFor(model => model.StartStudyMonth, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.StartStudyYear)
                    @Html.EditorFor(model => model.StartStudyYear, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
                </div>
            </div>
        </div>
        <br />
        <p style="text-align: justify;">Fecha estimada de fin especialidad</p>
        <div class="form-inline">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.EndStudyDay)
                    @Html.EditorFor(model => model.EndStudyDay, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.EndStudyMonth)
                    @Html.EditorFor(model => model.EndStudyMonth, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.EndStudyYear)
                    @Html.EditorFor(model => model.EndStudyYear, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Company)
                @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div id="divBoss" class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.BossName)
                @Html.EditorFor(model => model.BossName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>
    <br />
    <p style="text-align: justify;" id="pCurrentDateLabor">Fecha en la cual inició sus labores con este profesional</p>
    <div class="form-inline" id="divCurrentDatelabor">
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.CurrentProfessionDay)
                @Html.EditorFor(model => model.CurrentProfessionDay, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
            </div>
        </div>
        <div class="form-group">

            <div class="col-md-12">
                @Html.LabelFor(model => model.CurrentProfessionMonth)
                @Html.EditorFor(model => model.CurrentProfessionMonth, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.CurrentProfessionYear)
                @Html.EditorFor(model => model.CurrentProfessionYear, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
            </div>
        </div>
    </div>
    <br />
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Actualizar" id="btnUpdateLaborInformation" class="btn btn-primary" />
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-warning" })
                }
            </div>
        </div>
    </div>
</div>
