﻿
@model Big.MeadJohnson.Business.Models.GeneralInformation


<div class="container" style=" margin-bottom: 25px;">
    <h2>Información General</h2>
    <hr />
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Guid)
    @Html.HiddenFor(model => model.ProfessionalId)



    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-12">
                <div class="checkbox">
                    @Html.LabelFor(model => model.ListGonnaDaddy.FirstOrDefault().GonnaDaddyQuestion)
                    @Html.EditorFor(model => model.ListGonnaDaddy.FirstOrDefault().GonnaDaddyQuestion)
                </div>
            </div>
        </div>
    </div>
    </br>
    <div class="form-inline" id="divGonnaDaddy">
        <div class="row col-md-12">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.ListGonnaDaddy.FirstOrDefault().DayStimated)
                    <br />
                    @Html.DropDownList("DayStimated", ViewBag.Days as SelectList, "[Seleccione]", new { id = "DayStimated", @class = "form-control" })
                    @*@Html.EditorFor(model => model.ListGonnaDaddy.FirstOrDefault().DayStimated, new { htmlAttributes = new { @class = "form-control", style = "width: 50px;" } })*@
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.ListGonnaDaddy.FirstOrDefault().MonthStimated)
                    <br />
                    @Html.DropDownList("MonthStimated", ViewBag.Months as SelectList, "[Seleccione]", new { id = "MonthStimated", @class = "form-control" })
                    @*@Html.EditorFor(model => model.ListGonnaDaddy.FirstOrDefault().MonthStimated, new { htmlAttributes = new { @class = "form-control", style = "width: 50px;" } })*@
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <input id="btnSaveGonnaDaddy" value="Agregar" class="btn btn-info" style="margin-top: 23px;" />
                </div>
            </div>
        </div>
    </div>
    <table id="tableGonnaDaddy" class="table table-striped" style="width:800px;">
        <thead>
            <tr>
                <th>Día</th>
                <th>Mes</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.ListGonnaDaddy.Any())
            {
                foreach (var item in Model.ListGonnaDaddy)
                {
                    <tr>
                        <td class="DayStimated">@item.DayStimated</td>
                        <td class="MonthStimated hide ">@item.MonthStimated</td>
                      @foreach (var month in ViewBag.Months)
                      {
                        if (Convert.ToInt32(month.Value)== item.MonthStimated)
                        {
                            <td class="MonthStimated">@month.Text</td>
                        }
                      }
                        <td><button class="btn btn-sm btn-warning deleteGonnaDaddy" type="button">Eliminar</button></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-12">
                <div class="checkbox">
                    @Html.LabelFor(model => model.IsFather)
                    @Html.EditorFor(model => model.IsFather)
                </div>
            </div>
        </div>
    </div>
    <br />
    <p>

    </p>
    <div class="form-inline" id="divIsFather">
        <div class="row col-md-12">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.Son.Name)
                    <br />
                    @Html.EditorFor(model => model.Son.Name, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.Son.Age)
                    <br />
                    @*@Html.DropDownList("Son_IsYearAge", ViewBag.TypeAge as SelectList, "[Seleccione]", new { id = "Son_IsYearAge", @class = "form-control" })*@
                    @Html.EditorFor(model => model.Son.Age, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
                </div>
            </div>

            
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.Son.IsYearAge)
                    <br />
                    @Html.DropDownList("Son_IsYearAge", ViewBag.TypeAge as SelectList, "[Seleccione]", new { id = "Son_IsYearAge", @class = "form-control" })
                    @*@Html.EditorFor(model => model.Son.IsYearAge, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })*@
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.Son.SchoolYear)
                    <br />
                    @Html.DropDownList("SchoolYear", ViewBag.SchoolYearSon as SelectList, "[Seleccione]", new { id = "SchoolYearSon", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input id="btnSaveSon" value="Agregar" class="btn btn-info" style="margin-top: 23px;" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div>
        <table id="tableSon" class="table table-striped" style="width:800px;">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Mes/Año </th>
                    <th>Escolaridad</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ListSon.Any() && Model.ListSon != null)
                {
                    foreach (var item in Model.ListSon)
                    {
                        <tr>
                            <td class="name">@item.Name</td>
                            <td class="age">@item.Age</td>
                             
                            @if (item.IsYearAge == 1)
                            {
                                <td class="Son_IsYearAgeName">Mes</td>
                            }
                            else
                            {
                                <td class="Son_IsYearAgeName">Años</td>
                            }
                            <td class="Son_IsYearAge hide">@item.IsYearAge</td>
                            <td class="SchoolYearName">@item.SchoolName</td>
                            <td class="SchoolYear hide">@item.SchoolYear</td>
                            <td><button class="btn btn-sm btn-warning deleteSon" type="button">Eliminar</button></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <br />
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-12">
                <div class="checkbox">
                    @Html.LabelFor(model => model.IsGrandFather)
                    @Html.EditorFor(model => model.IsGrandFather)
                </div>
            </div>
        </div>
    </div>
    <br />
    <p></p>
    <div class="form-inline" id="divIsGrandFather">
        <div class="row col-md-12">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.Grandchild.Name)
                    <br />
                    @Html.EditorFor(model => model.Grandchild.Name, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.Grandchild.Age)
                    <br />
                    @Html.EditorFor(model => model.Grandchild.Age, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.Grandchild.IsYearAge)
                    <br />
                    @Html.DropDownList("Grandchild_IsYearAge", ViewBag.TypeAge as SelectList, "[Seleccione]", new { id = "Grandchild_IsYearAge", @class = "form-control" })
                    @*@Html.EditorFor(model => model.Grandchild.IsYearAge, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })*@
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.Grandchild.SchoolYear)
                    <br />
                    @Html.DropDownList("SchoolYearGrandChild", ViewBag.SchoolYearGrandChild as SelectList, "[Seleccione]", new { id = "SchoolYearGrandChild", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input id="btnSaveGrandchild" value="Agregar" class="btn btn-info" style="margin-top: 23px;" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div>
        <table id="tableGrandchild" class="table table-striped" style="width:800px;">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>Mes/Año </th>
                    <th>Escolaridad</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ListGrandchild.Any() && Model.ListGrandchild != null)
                {
                    foreach (var item in Model.ListGrandchild)
                    {
                        <tr>
                            <td class="name">@item.Name</td>
                            <td class="age">@item.Age</td>
                             @if (item.IsYearAge == 1)
                            {
                                <td class="Son_IsYearAgeName">Mes</td>
                            }
                            else
                            {
                                <td class="Son_IsYearAgeName">Años</td>
                            }
                            
                            <td class="Son_IsYearAge hide">@item.IsYearAge</td>
                            <td class="Son_IsYearAge hide">@item.IsYearAge</td>
                            <td class="SchoolYearName">@item.SchoolName</td>
                            <td class="SchoolYear hide">@item.SchoolYear</td>
                            <td><button class="btn btn-sm btn-warning deleteGrandchild" type="button">Eliminar</button></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-offset-5 col-md-12">
                <input id="btnUpdateGeneralInformation" type="submit" value="Actualizar" class="btn btn-primary" />
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-warning" })
                }
            </div>
        </div>
    </div>
</div>
