﻿@model Big.MeadJohnson.Domain.Data.MJ_PROFESSIONAL_LABOR_INFORMATION


@Html.HiddenFor(model => model.ID)
@Html.HiddenFor(model => model.GUID)
@Html.HiddenFor(model => model.PROFESSIONAL_LEVEL_ID)
@Html.Hidden("hfProfessionType", (int)ViewBag.ProfesionalTypeId)

<div id="divLaboralInfo" class="container" style=" margin-bottom: 25px;">
    <h2>Información laboral</h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p style="text-align: justify;" id="pStarProfession">Fecha en la cual comenzó a ejercer su profesión</p>
    <div class="form-inline" id="divStartProfession">

        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.START_DAY_PROFESSION)
                <input type="text" class="form-control" id="START_DAY_PROFESSION" name="START_DAY_PROFESSION" style="width:80px;" />
                
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.START_MONTH_PROFESSION)
                <input type="text" class="form-control" id="START_MONTH_PROFESSION" name="START_MONTH_PROFESSION" style="width:80px;" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.START_YEAR_PROFESSION)
                <input type="text" class="form-control" id="START_YEAR_PROFESSION" name="START_YEAR_PROFESSION" style="width:80px;" />
            </div>
        </div>
    </div>
    <br />
    <p>
        <div class="form-group">
            <div class="col-md-12">
                <div class="checkbox">
                    <input class="check-box" id="IS_SPECIALIST" name="IS_SPECIALIST" type="checkbox" />
                    @Html.LabelFor(model => model.IS_SPECIALIST)
                    @*@Html.EditorFor(model => model.IS_SPECIALIST)*@
                </div>
            </div>
        </div>
    </p>
    <div id="divIsSpecialist">
        <div class="form-inline">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.SPECIALTY_ID)
                    @Html.DropDownList("SPECIALTY_ID", ViewBag.SpecialityId as SelectList, "[Seleccione]", new { id = "SPECIALTY_ID", @class = "form-control" })
                </div>
            </div>
            <div class="form-group" id="divSpeciality">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.OTHER_SPECIALIST)
                    <input type="text" class="form-control" id="OTHER_SPECIALIST" name="OTHER_SPECIALIST"  />
                </div>
            </div>
        </div>
    </div>
    <br />
    <p>
        <div class="form-group">
            <div class="col-md-12">
                <div class="checkbox">
                    <input class="check-box" id="IS_STUDENT" name="IS_STUDENT" type="checkbox" />
                    @Html.LabelFor(model => model.IS_STUDENT)
                    @*@Html.EditorFor(model => model.IS_STUDENT)*@
                </div>
            </div>
        </div>
    </p>
    <div id="divIsStudent">
        <div class="form-inline">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.PROFESSIONAL_LEVEL_ID)
                    @Html.DropDownList("ProfessionalLevelId", ViewBag.ProfessionalLevelId as SelectList, "[Seleccione]", new { id = "PROFESSIONAL_LEVEL_ID", @class = "form-control" })
                </div>
            </div>
        </div>
        <br />
        <p style="text-align: justify;">Fecha de inicio especialidad</p>
        <div class="form-inline">
            <div class="form-group">

                <div class="col-md-12">
                    @Html.LabelFor(model => model.START_DAY_STUDY)
                    <input type="text" class="form-control" id="START_DAY_STUDY" name="START_DAY_STUDY" style="width:80px;" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.START_MONTH_STUDY)
                    <input type="text" class="form-control" id="START_MONTH_STUDY" name="START_MONTH_STUDY" style="width:80px;" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.START_YEAR_STUDY)
                    <input type="text" class="form-control" id="START_YEAR_STUDY" name="START_YEAR_STUDY" style="width:80px;" />
                </div>
            </div>
        </div>
        <br />
        <p style="text-align: justify;">Fecha estimada de fin especialidad</p>
        <div class="form-inline">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.END_DAY_STUDY)
                    <input type="text" class="form-control" id="END_DAY_STUDY" name="END_DAY_STUDY" style="width:80px;" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.END_MONTH_STUDY)
                    <input type="text" class="form-control" id="END_MONTH_STUDY" name="END_MONTH_STUDY" style="width:80px;" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.END_YEAR_STUDY)
                    <input type="text" class="form-control" id="END_YEAR_STUDY" name="END_YEAR_STUDY" style="width:80px;" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.COMPANY_NAME)
                <input type="text" class="form-control" id="COMPANY_NAME" name="COMPANY_NAME"  />
            </div>
        </div>
        <div id="divBoss" class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.BOSS_NAME)
                <input type="text" class="form-control" id="BOSS_NAME" name="BOSS_NAME" />
            </div>
        </div>
    </div>
    <br />
    @*<p style="text-align: justify;" id="pCurrentDateLabor">Fecha en la cual inició sus labores con este profesional</p>
    <div class="form-inline" id="divCurrentDatelabor">
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.CurrentProfessionDay)
                @Html.EditorFor(model => model.CurrentProfessionDay, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
            </div>
        </div>
        <div class="form-group">

            <div class="col-md-12">
                @Html.LabelFor(model => model.CurrentProfessionMonth)
                @Html.EditorFor(model => model.CurrentProfessionMonth, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.CurrentProfessionYear)
                @Html.EditorFor(model => model.CurrentProfessionYear, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
            </div>
        </div>
    </div>
    <br />*@
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Guardar" id="btnSaveLaboralInformation" class="btn btn-primary" />
                @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-warning" })
            </div>
        </div>
    </div>
</div>
