﻿
@model Big.MeadJohnson.Domain.Data.MJ_PROFESSIONAL_CONTACT


@Html.AntiForgeryToken()

<div class="container" style=" margin-bottom 25px;">
    <h2>Información de contacto</h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*@Html.HiddenFor(model => model.Id)*@
    @Html.HiddenFor(model => model.GUID)
    @Html.HiddenFor(model => model.PROFESSIONAL_ID)
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.CITY.DEPARTMENT_ID, "* Departamento")
                <br />
                @Html.DropDownList("DEPARMENT_NO", ViewBag.DepartamentId as SelectList, "[Seleccione]", new { id = "DEPARMENT_NO", @class = "form-control" })
                @*@Html.DropDownList("ProfessionalDepartamentId", ViewBag.DepartamentId as SelectList, "[Seleccione]", new { id = "ProfessionalDepartamentId", @class = "form-control" })*@
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.CITY_ID, "* Ciudad")
                <br />
                @*@Html.DropDownList("ProfessionalCityId", ViewBag.CityId as SelectList, "[Seleccione]", new { id = "ProfessionalCityId", @class = "form-control" })*@
                @Html.DropDownList("CITY_NO", ViewBag.CityId as SelectList, "[Seleccione]", new { id = "CITY_NO", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.BRICK, "Brick")
                <br />
                @Html.DropDownList("BRICK", ViewBag.BRICK as SelectList, "[Seleccione]", new { id = "BRICK", @class = "form-control" })
            </div>
        </div>
    </div>
    <br />
    <p></p>
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.E_MAIL)
                <input type="text" class="form-control" id="E_MAIL" name="E_MAIL" />
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.CELL_PHONE)
                    <input type="text" class="form-control" id="CELL_PHONE" name="CELL_PHONE" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <p></p>
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.ADDRESS)
                <input type="text" class="form-control" id="ADDRESS" name="ADDRESS" />
            </div>
        </div>
    </div>
    <br />
    <p></p>
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-offset-4 col-md-12">
                <input type="submit" id="btnSaveContact" value="Guardar" class="btn btn-primary" />
                @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-warning" })
            </div>
        </div>
    </div>


  </div>
<script src="@Url.Content("~/Scripts/professional.js")" type="text/javascript"></script>
<script>

        var Url = '@Url.Action("GetCities", "Generic")';
    var UrlBrickByCity = '@Url.Action("GetBricksByCityId", "Generic")';
</script>