﻿@model Big.MeadJohnson.Domain.Data.MJ_PROFESSIONAL

<div class="container" style=" margin-bottom: 25px;">
    <h2>Información Secretaria</h2>
    <hr />
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.GUID)
    @Html.HiddenFor(model => model.GUID)
    @Html.HiddenFor(model => model.PROFESSIONAL_ID)
    <div class="form-inline">
        <div class="form-group">
            
            <div class="col-md-12">
                <div class="checkbox">
                    @Html.LabelFor(model => model.SECRETARY_ID)
                    <input class="check-box" id="SECRETARY_ID" name="SECRETARY_ID" type="checkbox" />
                    @*@Html.EditorFor(model => model.SecretaryHaveSecretary)*@
                </div>
            </div>
        </div>
    </div>
    <br />
    <div id="divInfoSecretary">
        <div class="form-inline">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.FIRST_NAME)                    
                    <input type="text" class="form-control" id="FIRST_NAME" name="FIRST_NAME" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.LabelFor(model => model.LAST_NAME)
                    <input type="text" class="form-control" id="LAST_NAME" name="LAST_NAME" />
                    
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.DOCUMENT_NUMBER)
                    <input type="text" class="form-control" id="DOCUMENT_NUMBER" name="DOCUMENT_NUMBER" />
                    <input type="button" id="validateCedula" name="validateCedula" value="Validar" class="btn btn-default" />
                </div>
            </div>
            
                        
                        

           
        </div>
        <br />
        <div class="form-inline">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.MJ_PROFESSIONAL_CONTACTS.FirstOrDefault().E_MAIL)
                    <input type="text" class="form-control" id="E_MAIL" name="E_MAIL" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.MJ_PROFESSIONAL_CONTACTS.FirstOrDefault().CELL_PHONE)
                    <input type="text" class="form-control" id="CELL_PHONE" name="CELL_PHONE" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.MJ_PROFESSIONAL_CONTACTS.FirstOrDefault().ADDRESS)
                    <input type="text" class="form-control" id="ADDRESS" name="ADDRESS" />
                </div>
            </div>
        </div>
        <br />
        <p></p>
        <div class="form-inline">
            <div class="form-group">
                <div class="col-md-12">
                    @*@Html.LabelFor(model => model.SecretaryCompany)
                    @Html.EditorFor(model => model.SecretaryCompany, new { htmlAttributes = new { @class = "form-control" } })*@
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    @*@Html.LabelFor(model => model.SecretaryHaveSon)
                    @Html.EditorFor(model => model.SecretaryHaveSon)*@
                </div>
            </div>
        </div>
        <br />
        <p style="text-align: justify;">Fecha de nacimiento</p>
        <div class="form-inline">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.BirthDay)
                    @*@Html.EditorFor(model => model.BirthDay, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })*@
                    <input type="text" class="form-control" id="BirthDay" name="BirthDay" style = "width: 80px;" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.BirthMonth)
                    @*@Html.EditorFor(model => model.BirthMonth, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })*@
                    <input type="text" class="form-control" id="BirthMonth" name="BirthMonth" style = "width: 80px;" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.BirthYear)
                    @*@Html.EditorFor(model => model.BirthYear, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })*@
                    <input type="text" class="form-control" id="BirthYear" name="BirthYear" />
                </div>
            </div>
        </div>
        <br />
        <div class="form-inline">
            <div class="form-group">
                <div class="col-md-offset-5 col-md-12">
                    <input id="btnSaveSecretary" type="submit" value="Guardar" class="btn btn-primary" />
                    @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-warning" })
                </div>
            </div>
        </div>
        <br />
    </div>
</div>

