﻿@model Big.MeadJohnson.Domain.Data.MJ_PROFESSIONAL
@{
    ViewBag.Title = "Nuevo Profesional";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Styles.Render("~/Content/css")
<style>
    $body-bg : #eee; $canvas-bg: #fff; $font1 : Arial, sans-serif; body {
        background-color: $body-bg;
        font-family: $font1;
    }

    canvas {
        display: block;
        margin: 0 auto;
        margin: calc(50vh - 150px) auto 0;
        background: $canvas-bg;
        border-radius: 3px;
        box-shadow: 0px 0px 15px 3px #ccc;
        cursor: pointer;
    }

    p {
        text-align: center;
        cursor: pointer;
    }
</style>


<div class="container" style="background-color: #EEEEEE; opacity: 0.9; margin-top: 25px;">

    <div class="tabbable" style=" margin-top 50px; margin-left 25px; margin-right 25px; border-bottom-width 50px;">
        <div class="alert alert-warning" role="alert">
            <strong>Recuerda!</strong> Los campos marcados con ( * ) son obligatorios.
        </div>
        
        <div class="container">
            

            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Profesional</a></li>
                <li><a data-toggle="tab" href="#menu1">Información de Contacto</a></li>
                <li><a data-toggle="tab" href="#menu2">Información Laboral</a></li>
                <li><a data-toggle="tab" href="#menu3">Información General</a></li>
                <li><a href="#menu4" id="tab5" data-toggle="tab">Información de Secretaria</a></li>
                <li><a href="#menu5" data-toggle="tab">Firma</a></li>
                <li><a href="#menu6" data-toggle="tab">Firma Secretaria</a></li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <div>
                        @using (Ajax.BeginForm("CreateProfessional", new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure" }))
                        {
                            { Html.RenderAction("CreateProfessional", "Professionals"); }
                        }
                    </div>

                </div>
                <div id="menu1" class="tab-pane fade">
                    <div>
                        @using (Ajax.BeginForm("SaveProfessionalContact", new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure" }))
                        {
                            { Html.RenderAction("ProfessionalContact", "Professionals"); }
                        }
                    </div>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <div>
                        @using (Ajax.BeginForm("SaveLaborInformation", new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure" }))
                        {
                        { Html.RenderAction("LaborInformation", "Professionals");}
                        }
                    </div>
                </div>
                <div id="menu3" class="tab-pane fade">
                    @using (Ajax.BeginForm("saveGeneralInformation", new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure" }))
                    {
                    { Html.RenderAction("GeneralInformation", "Professionals");}
                    }
                </div>
                <div id="menu4" class="tab-pane fade">
                    @using (Ajax.BeginForm("SaveSecretaryInformation", new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure" }))
                    {
                        { Html.RenderAction("SecretaryInformation", "Professionals"); }
                    }
                </div>
                <div id="menu5" class="tab-pane fade">
                    @using (Ajax.BeginForm("SaveDigitalSignature", new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure" }))
                    {
                        { Html.RenderAction("DigitalSignature", "Professionals"); }
                    }
                </div>
                <div id="menu6" class="tab-pane fade">
                    @using (Ajax.BeginForm("DigitalSignature", new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnFailure" }))
                    {
                        { Html.RenderAction("DigitalSignatureSecretary", "Professionals"); }
                    }
                </div>
            </div>
        </div>
        
        </div>
    </div>
<script src="@Url.Content("~/Scripts/canvas.js")" type="text/javascript"></script>
<input type="hidden" name="imageData" id="imageData" />
<script type="text/javascript">

    function OnSuccess(response) {
        $('#modalTitle').html('Administracion profesionales');
        $('#modalMessage').html(response.Message );
        //OCultar boton
        //$(response.Position).hide();
        $('#genericModal').modal('show');
        
    }

    function OnFailure(response) {
         $('#modalTitle').html('Administracion profesionales');
         $('#modalMessage').html(response.Message );
                $('#genericModal').modal('show');
        
    }

</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="@Url.Content("~/Scripts/canvas.js")" type="text/javascript"></script>
}







