﻿
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Big.MeadJohnson.Domain.Data.MJ_PROFESSIONAL
@Styles.Render("~/Content/css")
<style>
    $body-bg : #eee; $canvas-bg: #fff; $font1 : Arial, sans-serif; body {
        background-color: $body-bg;
        font-family: $font1;
    }

    canvas {
        display: block;
        margin: 0 auto;
        margin: calc(50vh - 150px) auto 0;
        background: $canvas-bg;
        border-radius: 3px;
        box-shadow: 0px 0px 15px 3px #ccc;
        cursor: pointer;
    }

    p {
        text-align: center;
        cursor: pointer;
    }
</style>

@{
    ViewBag.Title = "Nuevo Profesional";
}

<div class="container" style="background-color: #EEEEEE; opacity: 0.9; margin-top: 25px;">

    <div class="tabbable" style=" margin-top 50px; margin-left 25px; margin-right 25px; border-bottom-width 50px;">
        <div class="alert alert-warning" role="alert">
            <strong>Recuerda!</strong> Los campos marcados con ( * ) son obligatorios.
        </div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Profesional</a></li>
            <li><a href="#tab2" data-toggle="tab">Información de Contacto</a></li>
            <li><a href="#tab3" data-toggle="tab">Información Laboral</a></li>
            <li><a href="#tab4" data-toggle="tab">Información General</a></li>
            

            <li><a href="#tab6" data-toggle="tab">Firma</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">

                @*@if (Model != null)
                {
                    <div>
                        @{ Html.RenderAction("EditProfessional", "Professionals", Model);}
                    </div>
                            }*@
            </div>
            <div class="tab-pane" id="tab2">
                <div>
                    @{ Html.RenderAction("EditProfessionalContact", "Professionals", Model.MJ_PROFESSIONAL_CONTACTS.FirstOrDefault());}
                </div>
            </div>
            @*<div class="tab-pane" id="tab3">
                <div>
                    @{ Html.RenderAction("EditLaborInformation", "Professionals", Model.MJ_PROFESSIONAL_LABOR_INFORMATIONS);}
                </div>
            </div>
            <div class="tab-pane" id="tab4">
                <div>
                    @{ Html.RenderAction("EditGeneralInformation", "Professionals", Model.MJ_PROFESSIONAL_FAMILY_INFORMATIONS);}
                </div>
            </div>
          

            <div class="tab-pane" id="tab6">
                <div>
                    <div>
                        @{ Html.RenderAction("EditDigitalSignature", "Professionals", Model.MJ_PROFESSIONAL_HABEAS_DATAS);}
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</div>
<input type="hidden" name="imageData" id="imageData" />
<input type="hidden" name="roleId" id="roleId" value="@Model.PROFESSIONAL_TYPE_ID " />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/canvas.js"></script>
}



@*<script>
        var limpiar = document.getElementById("limpiar");
        var canvas = document.getElementById("canvas");
        var ctx = canvas.getContext("2d");
        var cw = canvas.width = 800,
            cx = cw / 2;
        var ch = canvas.height = 400,
            cy = ch / 2;

        var dibujar = false;
        var factorDeAlisamiento = 5;
        var Trazados = [];
        var puntos = [];
        ctx.lineJoin = "round";

        limpiar.addEventListener('click', function (evt) {
            dibujar = false;
            ctx.clearRect(0, 0, cw, ch);
            Trazados.length = 0;
            puntos.length = 0;
        }, false);


        canvas.addEventListener('mousedown', function (evt) {
            dibujar = true;
            //ctx.clearRect(0, 0, cw, ch);
            puntos.length = 0;
            ctx.beginPath();

        }, false);

        canvas.addEventListener('mouseup', function (evt) {
            redibujarTrazados();
        }, false);

        canvas.addEventListener("mouseout", function (evt) {
            redibujarTrazados();
        }, false);

        canvas.addEventListener("mousemove", function (evt) {
            if (dibujar) {
                var m = oMousePos(canvas, evt);
                puntos.push(m);
                ctx.lineTo(m.x, m.y);
                ctx.stroke();
            }
        }, false);





        function reducirArray(n, elArray) {
            var nuevoArray = [];
            nuevoArray[0] = elArray[0];
            for (var i = 0; i < elArray.length; i++) {
                if (i % n == 0) {
                    nuevoArray[nuevoArray.length] = elArray[i];
                }
            }
            nuevoArray[nuevoArray.length - 1] = elArray[elArray.length - 1];
            Trazados.push(nuevoArray);
        }

        function calcularPuntoDeControl(ry, a, b) {
            var pc = {}
            pc.x = (ry[a].x + ry[b].x) / 2;
            pc.y = (ry[a].y + ry[b].y) / 2;
            return pc;
        }

        function alisarTrazado(ry) {
            if (ry.length > 1) {
                var ultimoPunto = ry.length - 1;
                ctx.beginPath();
                ctx.moveTo(ry[0].x, ry[0].y);
                for (i = 1; i < ry.length - 2; i++) {
                    var pc = calcularPuntoDeControl(ry, i, i + 1);
                    ctx.quadraticCurveTo(ry[i].x, ry[i].y, pc.x, pc.y);
                }
                ctx.quadraticCurveTo(ry[ultimoPunto - 1].x, ry[ultimoPunto - 1].y, ry[ultimoPunto].x, ry[ultimoPunto].y);
                ctx.stroke();
            }
        }


        function redibujarTrazados() {
            dibujar = false;
            ctx.clearRect(0, 0, cw, ch);
            reducirArray(factorDeAlisamiento, puntos);
            for (var i = 0; i < Trazados.length; i++)
                alisarTrazado(Trazados[i]);
        }

        function oMousePos(canvas, evt) {
            var ClientRect = canvas.getBoundingClientRect();
            return { //objeto
                x: Math.round(evt.clientX - ClientRect.left),
                y: Math.round(evt.clientY - ClientRect.top)
            }
        }

    </script>*@





