﻿@model PagedList.IPagedList<Big.MeadJohnson.Domain.SpDataModels.ListProfessional>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PagedList.Mvc;
<div class="container" style="background-color: #EEEEEE; opacity: 0.9; margin-top: 52px;">
    <h2>Profesionales</h2>
    @if (User.IsInRole("Súper_Administrador"))
    {
        <p>
            @Html.ActionLink("Nuevo Profesional", "Create", null, new { @class = "btn btn-primary" })
        </p>
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-inline">

            <div class="col-md-10 ">
                @*@Html.EditorFor(model => model.FirstOrDefault().FirstName, new { htmlAttributes = new { @class = "form-control cold-md-5 " } })*@
                <input type="text" name="FIRST_NAME" id="FIRST_NAME" class="form-control cold-md-5" />
                <input type="submit" value="Buscar" class="btn btn-success cold-md-5 " />
            </div>
        </div>
    }


    <table style="width:100%;" class="table table-striped form-inline dt-bootstrap no-footer" id="dataTables-example">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().NAME)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().LAST_UPDATE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Completitud)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                int progress = (int)item.Completitud;
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LAST_UPDATE)
                    </td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: @string.Format("{0}%", progress); ">
                                <span class="sr-only">@string.Format("{0}% Complete", progress);</span>
                                @string.Format("{0} %", progress)
                            </div>
                        </div>

                    </td>

                    <td>
                        @Html.ActionLink("Actualizar", "Edit", new { id = item.ID }, new { @class = "btn btn-default btn-sm" })

                    </td>
                </tr>
            }
        </tbody>
    </table>
    Página: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber), de: @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
    PagedListRenderOptions.OnlyShowFivePagesAtATime);



</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
