﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/dataTables.responsive.css" rel="stylesheet" />

    
    <script src="@Url.Content("~/Scripts/jquery-3.3.1.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/professional.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/canvas.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/canvasSecretary.js")" type="text/javascript"></script>
    
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':

                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],

                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =

                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);

        })(window, document, 'script', 'dataLayer', 'GTM-NQTXNNN');
    </script>
    <!-- End Google Tag Manager -->
</head>
<body background="~/Content/img/Background-2.jpg">
    @using Microsoft.AspNet.Identity
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NQTXNNN"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Content/img/logo-3.png" alt="Sample Image" style="height:55px; width:150px;" />
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                @if (Request.IsAuthenticated)
                {
                    if (Big.MeadJohnson.Domain.Controller.UserController.GetUserByUserName(@User.Identity.GetUserName()).IS_FIRST_USE == false)
                    {<ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Professionals")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profesionales<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @if (User.IsInRole("Súper_Administrador"))
                            {
                                <li>@Html.ActionLink("Administrar Profesionales", "Index", "Professionals")</li>
                            }

                            @if (User.IsInRole("Representantes") || User.IsInRole("Administrador"))
                            {
                                <li>@Html.ActionLink("Gestión de Profesionales", "Index", "Professionals")</li>
                            }
                        </ul>
                    </li>

                    @if (User.IsInRole("Súper_Administrador"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuarios<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Usuarios", "Index", "Users")</li>
                            </ul>
                        </li>
                    }

                    @if (User.IsInRole("Súper_Administrador") || User.IsInRole("Administrador"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Informe general", "Index", "Reports")</li>
                            </ul>
                        </li>
                    }
                    @*@if (User.IsInRole("Súper_Administrador"))
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuración<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Configuraciones del sistema", "Index", "Home")</li>
                        </ul>
                    </li>
                }*@

                </ul>
                    }
                }

                @Html.Partial("_LoginPartial")

            </div>
            @*<div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>*@
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
        <!-- Modal -->
        <div class="modal fade" id="genericModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="modalTitle"></h2>
                    </div>
                    <div class="modal-body">
                        <div class="te">
                            <p id="modalMessage"></p>
                        </div>
                        <div id="response" style="margin-top:20px;">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="genericConfirmEnable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" id="modalTitle">Activar / Inactivar Usuarios</h2>
                    </div>
                    <div class="modal-body">
                        <div class="te">
                            <p id="modalConfirmMessage"></p>
                        </div>
                        <div id="response" style="margin-top:20px;">
                            <button class="btn" id="btnAcept" data-dismiss="modal" aria-hidden="true">Aceptar</button>
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                        </div>
                        <div id="response" style="margin-top:20px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            
        </footer>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="genericModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title" id="modalTitle"></h2>
                </div>
                <div class="modal-body">
                    <div class="te">
                        <p id="modalMessage"></p>
                        @Html.ValidationSummary()
                    </div>
                    <div id="response" style="margin-top:20px;">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="genericConfirmEnable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title" id="modalTitle">Activar / Inactivar Usuarios</h2>
                </div>
                <div class="modal-body">
                    <div class="te">
                        <p id="modalConfirmMessage"></p>
                    </div>
                    <div id="response" style="margin-top:20px;">
                        <button class="btn" id="btnAcept" data-dismiss="modal" aria-hidden="true">Aceptar</button>
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                    </div>
                    <div id="response" style="margin-top:20px;">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="hfUrlBase" value="@System.Configuration.ConfigurationManager.AppSettings["urlSite"]" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
</body>
</html>
