﻿
 <!-- Modal error-->
<div class="max-container">
    <div class="modal sidebar--modal modalLoad" id="modalerror" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-right">
                    <a href="#" class="text--Dark_midnight_blue" data-dismiss="modal" aria-label="Close">
                        <span class="icon-9"></span>
                    </a>
                </div>
                <div class="modal-body">
                    <h5 class="text-center text--r text--regular text--Slate_gray my-0" id="modalerrormessage"></h5>
                </div>
                <div class="modal-footer text-center">
                    <div class="row w-100">
                        <div class="col-10">
                            <p class="text-center my-0" id="modalerrorbutton">
                                <a href="#" data-dismiss="modal" aria-label="Close" class="btn btn--bg btn--red" id="modalerrorlink">
                                    <span>Cerrar</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
