﻿@model Big.MeadJohnson.Core.DAL.MJ_GERENTES_CITIES

@{
    ViewBag.Title = "AddCities";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">


    <h4>Asociar Ciudad a Gerente</h4>
    <hr />

    <div class="form-group">
        <label class="control-label col-md-2">Gerente</label> @*@Html.LabelFor(model => model.GERENTE_ID, "GERENTE_ID", htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
            @Html.DropDownList("GERENTE_ID", null, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.GERENTE_ID, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2">Ciudad</label> @*@Html.LabelFor(model => model.CITY_ID, "CITY_ID", htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
            @Html.DropDownList("CITY_ID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CITY_ID, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Asociar" class="btn btn-default" />
        </div>
    </div>
    @Html.ActionLink("Volver", "Edit", new { id = ViewBag.IDGerente.ToString() })
</div>
}

<div>
    @Html.ActionLink("Listar Gerentes", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
