﻿@model Big.MeadJohnson.Business.Models.Gerente
@{
    ViewBag.Title = "Create";
}

<h2>Crear Gerente</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Cedula, htmlAttributes: new { @class = "control-label col-md-2" })*
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NombreCompleto, htmlAttributes: new { @class = "control-label col-md-2" })*
            <div class="col-md-10">
                @Html.EditorFor(model => model.NombreCompleto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NombreCompleto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CorreoElectronico, htmlAttributes: new { @class = "control-label col-md-2" })*
            <div class="col-md-10">
                @Html.EditorFor(model => model.CorreoElectronico, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CorreoElectronico, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Departamento</label>*
            <div class="col-md-10">
                @Html.DropDownList("DepartamentId", (SelectList)ViewBag.DepartamentId, "--Seleccione--", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CiudadId, "CiudadId", htmlAttributes: new { @class = "control-label col-md-2" })*
            <div class="col-md-10">
                @Html.DropDownList("CiudadId", (SelectList)ViewBag.CiudadId, "--Seleccione--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CiudadId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear Gerente" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Listar Gerentes", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript">
            var idDepartament = 'DepartamentId';
            var idCity = '@Html.IdFor(m => m.CiudadId)'
        $(document).ready(function () {
            $('#' + idDepartament).change(function () {
                $.ajax({
                    type: "post",
                    url: '@Html.Raw(Url.Action("GetCitiesByDepartament","Gerentes"))',
                    data: { departamentId: $('#' + idDepartament).val() },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        var district = "";
                        district = district + '<option value="">--Seleccionar--</option>';
                        for (var i = 0; i < data.length; i++) {
                            district = district + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                        }
                        district = district + '</select>';
                        $('#' + idCity).html(district);
                    }
                });
            });
        });
        </script>
}
