﻿@model Big.MeadJohnson.Business.Models.Gerente

@{
    /**/

    ViewBag.Title = "Details";
}

<h2>Detalle</h2>

<div>
    <h4>Gerente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>

    </dl>
</div>
@if (Model.Ciudades.Count > 0)
{
    <div class="row">
        <b><p>Ciudad Asiganada</p></b>
        @foreach(var c in Model.Ciudades)
        {
            <p>@Html.Raw(c.Name)</p>
        }
    </div>
}

<p>
    @Html.ActionLink("Editar Gerente", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Listar Gerentes", "Index")
</p>
