﻿@model Big.MeadJohnson.Business.Models.Gerente

@{
    ViewBag.Title = "Edit";
}
<style>
    .dual-list .list-group {
        margin-top: 8px;
    }

    .list-left li, .list-right li {
        cursor: pointer;
    }

    .list-arrows {
        padding-top: 100px;
    }

        .list-arrows button {
            margin-bottom: 20px;
        }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Modificar Gerente</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <div class="form-group">
        @Html.LabelFor(model => model.NombreCompleto, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NombreCompleto, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NombreCompleto, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Cedula, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @if (!string.IsNullOrEmpty(Model.Cedula))
            {
                @Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            }
            else
            {
                @Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form-control" } })
            }

            @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CorreoElectronico, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CorreoElectronico, new { htmlAttributes = new { @class = "form-control", @onclick="el();" } })
            @Html.ValidationMessageFor(model => model.CorreoElectronico, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">        
        <div class="">
            @Html.LabelFor(model => model.Activo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 checkbox">
                @Html.EditorFor(model => model.Activo)
            </div>
            @Html.ValidationMessageFor(model => model.Activo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    </div>
    <div class="container">
        <br />
        <div class="row">
            <div class="dual-list list-left col-md-5">
                <b>Ciudades Actuales</b>
                <div class="well text-right">
                    @Html.ActionLink("Asociar Otra Ciudad", "AddCities", new { id = Model.ID })
                    @*<div class="row">
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon glyphicon glyphicon-search"></span>
                                    <input type="text" name="SearchDualList" class="form-control" placeholder="search" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="btn-group">
                                    <a class="btn btn-default selector" title="select all"><i class="glyphicon glyphicon-unchecked"></i></a>
                                </div>
                            </div>
                        </div>*@
                    <ul class="list-group">
                        @foreach (var c in Model.Ciudades)
                        {
                            <li class="list-group-item">@Html.Raw(c.Name)</li>
                        }
                    </ul>
                </div>
            </div>
            @*<div class="list-arrows col-md-1 text-center">
                    <button type="button" class="btn btn-default btn-sm move-left">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm move-right">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>*@
            @*<div class="dual-list list-right col-md-5">
                    @Html.ActionLink("Agregar Ciudad", "AddCities", new { id = Model.ID })
                    <b>Ciudades Disponibles</b>
                    <div class="row">
                        <label class="control-label col-md-2">Departamento</label>*
                        <div class="col-md-10">
                            @Html.DropDownList("DepartamentId", (SelectList)ViewBag.DepartamentId, "--Seleccione--", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="well">

                        <div class="row">
                            <div class="col-md-2">
                                <div class="btn-group">
                                    <a class="btn btn-default selector" title="select all"><i class="glyphicon glyphicon-unchecked"></i></a>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="input-group">
                                    <input type="text" name="SearchDualList" class="form-control" placeholder="search" />
                                    <span class="input-group-addon glyphicon glyphicon-search"></span>
                                </div>
                            </div>
                        </div>

                        <ul class="list-group" id="CiudadesNuevas">
                            <li class="list-group-item">Seleccione un Departamento</li>
                        </ul>
                    </div>
                </div>*@
        </div>
    </div>
</div>
}

    <div>
        @Html.ActionLink("Listar Gerentes", "Index", null, new { @class = "btn btn-warning" })
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var IdActivo = '@Html.IdFor(m => m.Activo)';
        var el = function () {            
            $('#' + IdActivo).val(!$('#' + IdActivo).val());
        }
    </script>
    @*<script type="text/javascript">
        var idDepartament = 'DepartamentId';
        var idCity = 'CiudadesNuevas'
        $(document).ready(function () {
            $('#' + idDepartament).change(function () {
                $.ajax({
                    type: "post",
                    url: '@Html.Raw(Url.Action("GetCitiesByDepartament","Gerentes"))',
                    data: { departamentId: $('#' + idDepartament).val() },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        var district = "";
                        for (var i = 0; i < data.length; i++) {
                            district = district + '<li class="list-group-item">' + data[i].Text + '</li>';
                        }
                        $('#' + idCity).html(district);
                    }
                });
            });
        });
    </script>*@

    @*<script>
        $(function () {

            $('body').on('click', '.list-group .list-group-item', function () {
                $(this).toggleClass('active');
            });
            $('.list-arrows button').click(function () {
                var $button = $(this), actives = '';
                if ($button.hasClass('move-left')) {
                    actives = $('.list-right ul li.active');
                    actives.clone().appendTo('.list-left ul');
                    actives.remove();
                } else if ($button.hasClass('move-right')) {
                    actives = $('.list-left ul li.active');
                    actives.clone().appendTo('.list-right ul');
                    actives.remove();
                }
            });
            $('.dual-list .selector').click(function () {
                var $checkBox = $(this);
                if (!$checkBox.hasClass('selected')) {
                    $checkBox.addClass('selected').closest('.well').find('ul li:not(.active)').addClass('active');
                    $checkBox.children('i').removeClass('glyphicon-unchecked').addClass('glyphicon-check');
                } else {
                    $checkBox.removeClass('selected').closest('.well').find('ul li.active').removeClass('active');
                    $checkBox.children('i').removeClass('glyphicon-check').addClass('glyphicon-unchecked');
                }
            });
            $('[name="SearchDualList"]').keyup(function (e) {
                var code = e.keyCode || e.which;
                if (code == '9') return;
                if (code == '27') $(this).val(null);
                var $rows = $(this).closest('.dual-list').find('.list-group li');
                var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
                $rows.show().filter(function () {
                    var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                    return !~text.indexOf(val);
                }).hide();
            });

        });
    </script>*@
}
