﻿@using PagedList.Mvc;

@model PagedList.IPagedList<Big.MeadJohnson.Business.Models.Gerente>

@{
    ViewBag.Title = "Index";
}

<h2>Gerentes</h2>

<p>
    @Html.ActionLink("Nuevo Gerente", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().NombreCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CorreoElectronico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Activo)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoElectronico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>

                @Html.ActionLink("Consultar", "Edit", new { id = item.ID }, new { @class = "btn btn-info glyphicon glyphicon-edit " })
                @*@Html.ActionLink("Ver", "Details", new { id=item.ID }, new { @class = "btn btn-success glyphicon glyphicon-edit " }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id=item.ID }, new { @class = "btn btn-danger glyphicon glyphicon-edit " })*@
            </td>
        </tr>
    }
</table>
Página: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber), de: @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
PagedListRenderOptions.OnlyShowFivePagesAtATime);

@section scripts{
    @if (!string.IsNullOrEmpty(ViewBag.Creado))
    {
        <script>
            $('#modalTitle').html('Administración Gerentes');
            $('#modalMessage').html('@ViewBag.Creado');
            $('#genericModal').modal('show');
        </script>
    }

}
