﻿@model Big.MeadJohnson.Business.Models.User

@{
    ViewBag.Title = "Create";
}

<div class="container" style="background-color: #EEEEEE; opacity: 0.9; margin-top: 52px;">
    <h2>Nuevo Usuario</h2>



    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>User</h4>*@
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
               
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
               
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
              
            </div>
        </div>

        <div class="form-group" id="profile">
            @Html.LabelFor(model => model.ProfileId, "Perfil", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownList("ProfileId", ViewBag.ProfileId as SelectList, "[Seleccione]", new { id = "ProfileId", @class = "form-control" })
               
            </div>
        </div>

        <div class="form-group" id="departament">
            @Html.LabelFor(model => model.DepartamentId, "Departamento", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DepartamentId", ViewBag.DepartamentId as SelectList, "[Seleccione]", new { id = "DepartamentId", @class = "form-control" })
            </div>
        </div>

        <div class="form-group" id="city">
            @Html.LabelFor(model => model.CityId, "Ciudad", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownList("CityId", ViewBag.CityId as SelectList, "[Seleccione]", new { id = "CityId", @class = "form-control" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
               
            </div>
        </div>

        <div class="form-group" id="city">
            @Html.LabelFor(model => model.ManagerId, "Gerente", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ManagerId", ViewBag.ManagerId as SelectList, "[Seleccione]", new { id = "ManagerId", @class = "form-control" })               
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsActive)                   
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="btnSaveUser" value="Guardar" class="btn btn-primary" />
                @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-warning" })
            </div>
        </div>
    </div>


</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $('#btnSaveUser').click(function () {

            var user = {

                Guid: $('#Guid').val(),
                Id: 0,
                Name: $('#Name').val(),
                UserName: $('#UserName').val(),
                Password: $('#Password').val(),
                ProfileId: $('#ProfileId').val(),
                DepartamentId: $('#DepartamentId').val(),
                CityId: $('#CityId').val(),
                Email: $('#Email').val(),
                ManagerId: $('#ManagerId').val(),
                IsActive: $('#IsActive').is(':checked'),
            }

            var idButton = 'btnSaveUser';
            AjaxSaveUser('Create', user, idButton);


        });

        function AjaxSaveUser(controller, user, idButton) {
            $.ajax({
                type: 'POST',
                url: $("#hfUrlBase").val() + 'Users/' + controller,
                ContentType: 'application/json; charset=utf-8',
                data: user,
                error: function (data) {
                    alert('Ha ocurrido un error al. Intente nuevamente o comuniquese con el administrador.');
                },
            })
                .done(function (data) {

                    if (data.Result === false) {
                        $('#' + idButton).prop('disabled', false);
                        $('#modalTitle').html(data.Title);
                        $('#modalMessage').html(data.Message);
                        $('#genericModal').modal('show');
                    }
                    else {
                        $('#' + idButton).prop('disabled', true);
                        $('#modalTitle').html(data.Title);
                        $('#modalMessage').html(data.Message);
                        $('#genericModal').modal('show');
                    }
                });
        }

    </script>

}





