﻿@model Big.MeadJohnson.Business.Models.User

@{
    ViewBag.Title = "Create";
}

<div class="container" style="background-color: #EEEEEE; opacity: 0.9; margin-top: 52px;">
    <h2>Actualizar usuario</h2>

    <div class="form-horizontal">
        @*<h4>User</h4>*@
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.RegisterDate)
        @Html.HiddenFor(model => model.Guid)
        @Html.HiddenFor(model => model.IsFirstUse)
        @Html.HiddenFor(model => model.Password)        


        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group" id="profile">
            @Html.LabelFor(model => model.ProfileId, "Perfil", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProfileId", null, htmlAttributes: new { @class = "form-control" })

            </div>
        </div>

        <div class="form-group" id="departament">
            @Html.LabelFor(model => model.DepartamentId, "Departamento", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DepartamentId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group" id="city">
            @Html.LabelFor(model => model.CityId, "Ciudad", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CityId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group" id="city">
            @Html.LabelFor(model => model.ManagerId, "Gerente", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ManagerId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsActive)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="btnUpdateUser" value="Guardar" class="btn btn-primary" />
                @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-warning" })
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $('#btnUpdateUser').click(function () {

            var user = {

                Guid: $('#Guid').val(),
                Id: $('#Id').val(),
                Name: $('#Name').val(),
                UserName: $('#UserName').val(),
                Password: $('#Password').val(),
                ProfileId: $('#ProfileId').val(),
                DepartamentId: $('#DepartamentId').val(),
                CityId: $('#CityId').val(),
                Email: $('#Email').val(),
                ManagerId: $('#ManagerId').val(),
                IsActive: $('#IsActive').is(':checked'),
            }

            var idButton = 'btnUpdateUser';
            AjaxSaveUser('Edit', user, idButton);
        });

        function AjaxSaveUser(controller, user, idButton) {
            $.ajax({
                type: 'POST',
                url: $("#hfUrlBase").val() + 'Users/' + controller,
                ContentType: 'application/json; charset=utf-8',
                data: user,
                error: function (data) {
                    alert('Ha ocurrido un error al. Intente nuevamente o comuniquese con el administrador.');
                },
            })
                .done(function (data) {

                    if (data.Result === false) {
                        $('#' + idButton).prop('disabled', false);
                        $('#modalTitle').html(data.Title);
                        $('#modalMessage').html(data.Message);
                        $('#genericModal').modal('show');
                    }
                    else {
                        $('#' + idButton).prop('disabled', true);
                        $('#modalTitle').html(data.Title);
                        $('#modalMessage').html(data.Message);
                        $('#genericModal').modal('show');
                    }
                });
        }

    </script>

}



