﻿@model IEnumerable<Big.MeadJohnson.Business.Models.User>

@{
    ViewBag.Title = "Usuarios";
}

<div class="container" style="background-color: #EEEEEE; opacity: 0.9; margin-top: 52px;">

    <h2>Usuarios</h2>

    <p>
        @Html.ActionLink("Nuevo Usuario", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <p>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </p>
    <table style="width:100%;" class="table dataTables_wrapper form-inline dt-bootstrap no-footer" id="dataTables-example">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Profilename)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Profilename)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.ActionLink("Actualizar", "Edit", new { id = item.Id }, new { @class = "btn btn-default btn-sm" })

                        @if (item.IsActive)
                        {
                            <a href="javascript:void(0);" data-id="@item.Id" data-status="@item.IsActive" class="btn btn-danger btn-sm OpenDialog">Inactivar</a>
                        }
                        else
                        {
                            <a href="javascript:void(0);" data-id="@item.Id" data-status="@item.IsActive" class="btn btn-warning btn-sm OpenDialog">Habilitar</a>
                        }
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var id;

            $(function () {
                $(".OpenDialog").click(function (e) {
                    id = $(this).data("id");
                    var isActive = $(this).data("status");
                    ShowModalConfirm(id, isActive);
                });
            });

            function ShowModalConfirm(id, isActive) {

                console.log(id + ' ' + isActive);
                var messageConfirm
                if (isActive == 'True')
                    messageConfirm = 'Desea inactivar este usuario ?'
                else {
                    messageConfirm = 'Desea habilitar este usuario ?'
                }

                $('#modalConfirmMessage').html(messageConfirm);
                $('#genericConfirmEnable').modal('show');
            }



            $('#btnAcept').click(function () {

                $('#genericConfirmEnable').modal('hide');
                $.ajax({
                    type: 'POST',
                    url: $("#hfUrlBase").val() + 'Users/EnableDisableUser',
                    ContentType: 'application/json; charset=utf-8',
                    data: { id: id },
                    error: function (data) {
                        alert('Ha ocurrido un error al. Intente nuevamente o comuniquese con el administrador.');
                    },
                })
                    .done(function (data) {

                        if (data.Result === false) {
                            $('#modalTitle').html(data.Title);
                            $('#modalMessage').html(data.Message);
                            $('#genericModal').modal('show');
                        }
                        else {
                            $('#modalTitle').html(data.Title);
                            $('#modalMessage').html(data.Message);
                            $('#genericModal').modal('show');
                        }

                        setTimeout(function () { location.reload(); }, 2000);
                    });
            });
        });

    </script>



}

