﻿<%@ Page Title="" Language="C#" MasterPageFile="~/APP/MasterPage.Master" AutoEventWireup="true" CodeBehind="QueryBuilder.aspx.cs" Inherits="OnData.TitanFL.Web.UI.APP.Systems.QuerySystem.QueryBuilder" %>
<%@ Register Src="QueryControl.ascx" TagName="QueryControl" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="maincontent" runat="Server">
   <uc1:QueryControl id="QueryControl1" runat="server"></uc1:QueryControl>   
</asp:Content>
