﻿<%@ Page Title="" Language="C#" MasterPageFile="~/APP/MasterPage.Master" AutoEventWireup="true" CodeBehind="QueryBuilderNew.aspx.cs" Inherits="OnData.TitanFL.Web.UI.APP.Systems.QuerySystem.QueryBuilderNew" %>
<%@ Register Src="QueryControlNew.ascx" TagName="QueryControlNew" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="maincontent" runat="Server">
	<uc1:QueryControlNew ID="QueryControlNew1" runat="server" />
</asp:Content>
