﻿@using Big.MeadJohnson.CRM.UI.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar Sesión";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                &nbsp;
            </p>
        </div>
        <div class="col-md-12 hidden-xs">
            <p>
                &nbsp;
            </p>
        </div>
        <div class="col-md-12 hidden-xs">
            <p>
                &nbsp;
            </p>
        </div>
        <div class="col-md-12 hidden-xs">
            <p>
                &nbsp;
            </p>
        </div>
        <div class="col-md-8 text-center">
            <div class="login">
                <div class="row">
                    <div class="col-md-6">
                        <strong class="text-title">
                            ¡Aquí podrás nutrir el futuro de oportunidades!
                        </strong>
                        <br>
                        <span class="text-description">
                            Te damos la bienvenida a una herramienta que te ayudará a recolectar información relevante para generar lazos y relaciones a largo plazo. Para ingresar tan solo debes digitar el usuario y la contraseña que te envíamos vía mail.
                        </span>
                    </div>
                    <div class="col-md-6 ">
                    </div>
                    <img src="~/Content/img/asset-1.png" class="asset-woman hidden-xs" />
                </div>
            </div>
        </div>
        <div class="col-md-12 visible-xs">
            <p>
                &nbsp;
            </p>
        </div>
        <div class="col-md-4">
            <div class="login">
                <img src="~/Content/img/logo-3.png" style="width:150px;" />
                <br>
                <br>
                <strong style="color: #606060;">
                    @ViewBag.Title
                </strong>
                <br>
                <br>
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Nombre de usuario" })
                            <br>
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger", @style = "position: absolute; font-size: 12px;" })
                        </div>
                        <br>
                        <div class="input-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Contraseña" })
                            <br>
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger", @style = "position: absolute; font-size: 12px;" })
                        </div>
                        <br>
                        <div class="input-group">
                            <div class="checkbox" style="color: #606060;">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                        <br>
                        <div class="input-group text-center">
                            <input type="submit" value="Ingresar" class="btn btn-default" />
                        </div>
                        @*<p>
                                @Html.ActionLink("Register as a new user", "Register")
                            </p>*@
                        @* Enable this once you have account confirmation enabled for password reset functionality
                            <p>
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </p>*@
                    }
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}