﻿@model Big.MeadJohnson.Business.Models.Professional

@Html.AntiForgeryToken()

<div class="container" style=" margin-bottom: 25px;">
    <h2>Información personal</h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Guid)
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.ProfessionalTypeId, "* Tipo de Profesional")
                @Html.DropDownList("ProfessionalTypeId", ViewBag.ProfessionalTypeId as SelectList, "[Seleccione]", new { id = "ProfessionalTypeId", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.DocumentNumber)
                @Html.EditorFor(model => model.DocumentNumber, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>
    <br />
    <p></p>
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.FirstName)
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.SecondName)
                @Html.EditorFor(model => model.SecondName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>
    <br />
    <p></p>
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.LastName)
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.SecondLastName)
                @Html.EditorFor(model => model.SecondLastName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.GenderId, "* Género")
                @Html.DropDownList("GenderId", ViewBag.GenderId as SelectList, "[Seleccione]", new { id = "GenderId", @class = "form-control" })
            </div>
        </div>
    </div>
    <br />
    <p style="text-align: justify;">Fecha de cumpleaños</p>
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.BirthDay)
                @Html.EditorFor(model => model.BirthDay, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.BirthMonth)
                @Html.EditorFor(model => model.BirthMonth, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.BirthYear)
                @Html.EditorFor(model => model.BirthYear, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
            </div>
        </div>
    </div>
    <br />
    <p style="text-align: justify;">Infomacion del representante</p>
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.DepartamentId, "* Departamento")
                <br />
                @Html.DropDownList("DepartamentId", ViewBag.DepartamentId as SelectList, "[Seleccione]", new { id = "DepartamentId", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.CityId, "* Ciudad")
                <br />
                @Html.DropDownList("CityId", ViewBag.CityId as SelectList, "[Seleccione]", new { id = "CityId", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.MsrId, "* Representante")
                <br />
                @Html.DropDownList("MsrId", ViewBag.MsrId as SelectList, "[Seleccione]", new { id = "MsrId", @class = "form-control" })
            </div>
        </div>
        @*<div class="containerRepresentantes">
                <label>Asignación de Respresentantes adicionales</label>
                <img id="waitingReprGIF" style="height:100px; width:100px;" src="~/Content/Loadingsome.gif" />
                <select id="origenRepr" data-text="* Profesionales disponibles" data-search="Buscar Professional"></select>
                <select id="destinoRepr" data-text="* Profesionales Agregados" data-search="Buscar Professional">
                    <option value=""></option>
                </select>

            </div>*@
    </div>
    <br />
    <div class="row">
        <p>Lista representantes secundarios</p>
        <div class="containerRepresentantes">
            <img id="waitingGIFRepr" style="height:100px; width:100px;" src="~/Content/Loadingsome.gif" />
            <select id="sourceRepr" hidden data-text="* Representantes disponibles" data-search="Buscar Representantes"></select>
            <select id="destinationRepr" hidden data-text="* Representantes Agregados" data-search="Buscar Representantes">                
            </select>

        </div>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-offset-5 col-md-12">
                <input type="submit" id="btnSaveProfessional" data-toggle="modal" value="Guardar" class="btn btn-primary" />
                @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-warning" })
            </div>
        </div>
    </div>
</div>