﻿
@model Big.MeadJohnson.Business.Models.Professional

@Html.AntiForgeryToken()

<div class="container" style=" margin-bottom: 25px;">
    <h2>Información personal</h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Guid)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CreateBy)
    @*@Html.HiddenFor(model => model.RegisterDate)*@
    @*@Html.TextBoxFor(model => model.RegisterDate, "{0:dd/MM/yyyy HH:mm:ss.fff}", htmlAttributes: new { @style = "display:block" })*@
    @Html.HiddenFor(model => model.Token)
    @Html.HiddenFor(model => model.ExpirationDateToken)
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.ProfessionalTypeId, "* Tipo de Profesional")
                @Html.DropDownList("ProfessionalTypeId", ViewBag.ProfessionalTypeId as SelectList, "[Seleccione]", new { id = "ProfessionalTypeId", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.DocumentNumber)
                @Html.EditorFor(model => model.DocumentNumber, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>
    <br />
    <p></p>
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.FirstName)
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.SecondName)
                @Html.EditorFor(model => model.SecondName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>
    <br />
    <p></p>
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.LastName)
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.SecondLastName)
                @Html.EditorFor(model => model.SecondLastName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.GenderId, "* Género")
                @Html.DropDownList("GenderId", ViewBag.GenderId as SelectList, "[Seleccione]", new { id = "GenderId", @class = "form-control" })
            </div>
        </div>
    </div>
    <br />
    <p style="text-align: justify;">Fecha de cumpleaños</p>
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.BirthDay)
                @Html.EditorFor(model => model.BirthDay, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.BirthMonth)
                @Html.EditorFor(model => model.BirthMonth, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.BirthYear)
                @Html.EditorFor(model => model.BirthYear, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
            </div>
        </div>
    </div>
    <br />
    <div class="divUserInfo">
        <p style="text-align: justify;">Infomacion del representante</p>
        <div class="form-inline">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.DepartamentId, "Departamento")
                    <br />
                    @Html.DropDownList("DepartamentId", null, htmlAttributes: new { @class = "form-control" })
                    @*@Html.DropDownList("DepartamentId", ViewBag.DepartamentId as SelectList, "[Seleccione]", new { id = "DepartamentId", @class = "form-control" })*@
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.CityId, "Ciudad")
                    <br />
                    @Html.DropDownList("CityId", null, htmlAttributes: new { @class = "form-control" })
                    @* @Html.DropDownList("CityId", ViewBag.CityId as SelectList, "[Seleccione]", new { id = "CityId", @class = "form-control" })*@
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.MsrId, "Representante")
                    <br />
                    @Html.DropDownList("MsrId", ViewBag.MsrId as SelectList, "[Seleccione]", new { id = "MsrId", @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-offset-5 col-md-12">
                <input type="submit" id="btnUpdateProfessional" data-toggle="modal" value="Actualizar" class="btn btn-primary" />
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-warning" })
                }
            </div>
        </div>
    </div>
</div>
