﻿@model Big.MeadJohnson.Business.Models.LaborInformation
@Html.AntiForgeryToken()
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.Guid)
@Html.HiddenFor(model => model.ProfessionalId)
@Html.Hidden("hfProfessionType", (int)ViewBag.ProfesionalTypeId)
<link href="~/Content/listswap.css" rel="stylesheet" />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<div id="divLaboralInfo" class="container" style=" margin-bottom: 25px;">
    <h2>Información laboral</h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p style="text-align: justify;" id="pStarProfession">Fecha en la cual comenzó a ejercer su profesión</p>
    <div class="form-inline" id="divStartProfession">

        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.StartProfessionDay)
                @Html.EditorFor(model => model.StartProfessionDay, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.StartProfessionMonth)
                @Html.EditorFor(model => model.StartProfessionMonth, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.StartProfessionYear)
                @Html.EditorFor(model => model.StartProfessionYear, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
            </div>
        </div>
    </div>
    @if (ViewBag.ProfesionalTypeId != 4)
    {

        <div class="form-group">
            <div class="col-md-12">
                <div class="checkbox">
                    @Html.LabelFor(model => model.IsSpecialist)
                    @Html.EditorFor(model => model.IsSpecialist)
                </div>
            </div>
        </div>

        <div id="divIsSpecialist">
            <div class="form-inline">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.SpecialityId)
                        @Html.DropDownList("SpecialityId", ViewBag.SpecialityId as SelectList, "[Seleccione]", new { id = "SpecialityId", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group" id="divSpeciality">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.OtherSpeciality)
                        @Html.EditorFor(model => model.OtherSpeciality, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>

            <p style="text-align: justify;">Fecha de inicio especialidad</p>
            <div class="form-inline">
                <div class="form-group">

                    <div class="col-md-12">
                        @Html.LabelFor(model => model.StartStudyDay)
                        @Html.EditorFor(model => model.StartStudyDay, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.StartStudyMonth)
                        @Html.EditorFor(model => model.StartStudyMonth, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.StartStudyYear)
                        @Html.EditorFor(model => model.StartStudyYear, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
                    </div>
                </div>
            </div>
            <br />
            <p style="text-align: justify;">Fecha estimada de fin especialidad</p>
            <div class="form-inline">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.EndStudyDay)
                        @Html.EditorFor(model => model.EndStudyDay, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.EndStudyMonth)
                        @Html.EditorFor(model => model.EndStudyMonth, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.EndStudyYear)
                        @Html.EditorFor(model => model.EndStudyYear, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
                    </div>
                </div>
            </div>



        </div>
        <div class="form-group">
            <div class="col-md-12">
                <div class="checkbox">
                    @Html.LabelFor(model => model.IsStudent)
                    @Html.EditorFor(model => model.IsStudent)
                </div>
            </div>
        </div>
        <div id="divIsStudent">
            <div class="form-inline">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.ProfessionalLevelId)
                        @Html.DropDownList("ProfessionalLevelId", ViewBag.ProfessionalLevelId as SelectList, "[Seleccione]", new { id = "ProfessionalLevelId", @class = "form-control" })
                    </div>
                </div>
            </div>
            <br />

        </div>
    }
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Company)
                @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

    </div>
    <br />
    <p style="text-align: justify;" id="pCurrentDateLabor">Fecha en la cual inició sus labores con este profesional</p>
    <div class="form-inline" id="divCurrentDatelabor">
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.CurrentProfessionDay)
                @Html.EditorFor(model => model.CurrentProfessionDay, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
            </div>
        </div>
        <div class="form-group">

            <div class="col-md-12">
                @Html.LabelFor(model => model.CurrentProfessionMonth)
                @Html.EditorFor(model => model.CurrentProfessionMonth, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.CurrentProfessionYear)
                @Html.EditorFor(model => model.CurrentProfessionYear, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
            </div>
        </div>
    </div>
    @if (ViewBag.ProfesionalTypeId == 4)
    {
        <div class="form-inline" id="divSecretaryProfessionalsAssign" style="margin-top:30px;">
            <p style="text-align: justify;" id="pCurrentDateLabor">* Profesional(es) para el que trabaja</p>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.EndStudyYear, " * Departamento")
                    <br />
                    @Html.DropDownList("ProfessionalDepartamentId", ViewBag.DepartamentId as SelectList, "[Seleccione]", new { id = "LaborDepartamentId", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.EndStudyYear, " * Ciudad")
                    <br />
                    @Html.DropDownList("ProfessionalCityId", ViewBag.CityId as SelectList, "[Seleccione]", new { id = "LaborCityId", @class = "form-control" })
                </div>
            </div>

            <br />
            <div class="col-md-12 containerProfesionals" style="margin-top:15px;">
                @Html.LabelFor(model => model.EndStudyYear, " * Asignación Profesionales")
                <img id="waitingGIF" hidden style="height:100px; width:100px;" src="~/Content/Loadingsome.gif" />
                <select id="source" data-text="* Profesionales disponibles " data-search="Buscar Professional"></select>
                <select id="destination" data-text="* Profesionales Agregados" data-search="Buscar Professional">
                    @if (ViewBag.AssociatedProfessionals != null)
                    {
                        foreach (var item in ViewBag.AssociatedProfessionals)
                        {
                            <option value="@item.Value">@item.Text</option>

                        }
                    }

                </select>

            </div>

        </div>
    }
    else
    {

        <div class="col-md-12   containerProfesionals" hidden style="margin-top:15px;">
            <img id="waitingGIF" hidden style="height:100px; width:100px;" src="~/Content/Loadingsome.gif" />
            <select id="source" data-text="* Profesionales disponibles " data-search="Buscar Professional"></select>
            <select id="destination" data-text="* Profesionales Agregados" data-search="Buscar Professional">
                <option value=""></option>

            </select>

        </div>
    }
    <div id="divBoss" class="form-group">
        <div class="col-md-12">
            @Html.LabelFor(model => model.BossName)
            @Html.EditorFor(model => model.BossName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.LabelFor(model => model.BossName, "Nota: En caso de que el Profesional no se encuentre en el listado anterior, ingrese su nombre ", new { @class = "alert alert-warning" })
        </div>
    </div>
    <br />
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Actualizar" id="btnUpdateLaborInformation" class="btn btn-primary" />
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-warning" })
                }
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.listswap.js"></script>
<script>
    $('#source, #destination').listswap({
        truncate: true,
        height: 135,
        is_scroll: true,
        label_add: 'Agergar', //Set add label (Can bet set to empty)
        label_remove: 'Quitar',
    });
</script>
