﻿@model Big.MeadJohnson.Business.Models.LaborInformation
@Html.AntiForgeryToken()
@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.Guid)
@Html.HiddenFor(model => model.ProfessionalId)
@Html.Hidden("hfProfessionType", (int)ViewBag.ProfesionalTypeId)
<link href="~/Content/listswap.css" rel="stylesheet" />
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="~/Scripts/jquery.listswap.js"></script>

<div id="divLaboralInfo" class="container" style="margin-bottom:25px;">
    <h2>Información laboral</h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p style="text-align: justify;" id="pStarProfession">Fecha en la cual comenzó a ejercer su profesión</p>
    <div class="form-inline" id="divStartProfession">

        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.StartProfessionDay)
                @Html.EditorFor(model => model.StartProfessionDay, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.StartProfessionMonth)
                @Html.EditorFor(model => model.StartProfessionMonth, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.StartProfessionYear)
                @Html.EditorFor(model => model.StartProfessionYear, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
            </div>
        </div>
    </div>

    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Company)
                @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

    </div>
    <br />
    <p style="text-align: justify;" id="pCurrentDateLabor">Fecha en la cual inició sus labores con este profesional</p>
    <div class="form-inline" id="divCurrentDatelabor">
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.CurrentProfessionDay)
                @Html.EditorFor(model => model.CurrentProfessionDay, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
            </div>
        </div>
        <div class="form-group">

            <div class="col-md-12">
                @Html.LabelFor(model => model.CurrentProfessionMonth)
                @Html.EditorFor(model => model.CurrentProfessionMonth, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.CurrentProfessionYear)
                @Html.EditorFor(model => model.CurrentProfessionYear, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
            </div>
        </div>
    </div>

    @if (ViewBag.ProfesionalTypeId != 0)
    {
        <div class="form-inline" id="divSecretaryProfessionalsAssign" style="margin-top:15px;">
            <label class="col-md-12"> * Profesional(es) para el que trabaja </label>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.EndStudyYear, "* Departamento")
                    <br />
                    @Html.DropDownList("ProfessionalDepartamentId", ViewBag.DepartamentId as SelectList, "[Seleccione]", new { id = "LaborDepartamentId", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.EndStudyYear, " * Ciudad")
                    <br />
                    @Html.DropDownList("ProfessionalCityId", ViewBag.CityId as SelectList, "[Seleccione]", new { id = "LaborCityId", @class = "form-control" })
                </div>
            </div>
            <div class="containerProfesionals">
                @Html.LabelFor(model => model.EndStudyYear, " * Asignación Profesionales")
                <img id="waitingGIF" style="height:100px; width:100px;" src="~/Content/Loadingsome.gif" />
                <select id="source" hidden data-text="* Profesionales disponibles" data-search="Buscar Professional"></select>
                <select id="destination" hidden data-text="* Profesionales Agregados" data-search="Buscar Professional">
                    <option value=""></option>
                </select>

            </div>

        </div>
    }
    else
    {
        <div class="form-inline" id="divSecretaryProfessionalsAssign" style="margin-top:30px;">
            <label class="col-md-12"> * Profesional(es) para el que trabaja</label>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.EndStudyYear, "* Departamento")

                    <br />
                    @Html.DropDownList("ProfessionalDepartamentId", ViewBag.DepartamentId as SelectList, "[Seleccione]", new { id = "LaborDepartamentId", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.EndStudyYear, " * Ciudad")
                    <br />
                    @Html.DropDownList("ProfessionalCityId", ViewBag.CityId as SelectList, "[Seleccione]", new { id = "LaborCityId", @class = "form-control" })
                </div>
            </div>
            <div class="containerProfesionals">
                @Html.LabelFor(model => model.EndStudyYear, " * Asignación Profesionales")
                <img id="waitingGIF" style="height:100px; width:100px;" src="~/Content/Loadingsome.gif" />
                <select id="source" hidden data-text="* Profesionales disponibles" data-search="Buscar Professional"></select>
                <select id="destination" hidden data-text="* Profesionales Agregados" data-search="Buscar Professional"></select>

            </div>

        </div>
    }
    <div id="divBoss" class="form-group">
        <div class="col-md-12">
            @Html.LabelFor(model => model.BossName)
            @Html.EditorFor(model => model.BossName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.LabelFor(model => model.BossName, "Nota: En caso de que el Profesional no se encuentre en el listado anterior, ingrese su nombre ", new { @class = "alert alert-warning" })
        </div>
    </div>

    <br />

    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Guardar" id="btnSaveLaboralInformation" class="btn btn-primary" />
                @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-warning" })
            </div>
        </div>
    </div>
</div>



