﻿@model Big.MeadJohnson.Business.Models.SecretaryInformation
@Html.AntiForgeryToken()
<div class="container" style=" margin-bottom: 25px;">
    <h2>Información Secretaria</h2>
    <hr />
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.SecretaryId)
    @Html.HiddenFor(model => model.SecretaryGuid)
    @Html.HiddenFor(model => model.ProfessionalId)
    <div class="form-inline">
        <div class="form-group">

            <div class="col-md-12">
                <div class="checkbox">
                    @Html.LabelFor(model => model.SecretaryHaveSecretary)
                    @Html.EditorFor(model => model.SecretaryHaveSecretary)
                </div>
            </div>
        </div>
    </div>
    <br />
    <div id="divInfoSecretary">
        <div class="form-inline">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.SecretaryFirstName)
                    @Html.EditorFor(model => model.SecretaryFirstName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.LabelFor(model => model.SecretaryLastName)
                    @Html.EditorFor(model => model.SecretaryLastName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.SecretaryDocumentNumber)
                    @Html.EditorFor(model => model.SecretaryDocumentNumber, new { htmlAttributes = new { @class = "form-control" } })
                    <input type="button" id="validateCedula" name="validateCedula" value="Validar" class="btn btn-default" />
                </div>
            </div>
            
                        
                        

           
        </div>
        <br />
        <div class="form-inline">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.SecretaryEmail)
                    @Html.EditorFor(model => model.SecretaryEmail, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.SecretaryCellPhone)
                    @Html.EditorFor(model => model.SecretaryCellPhone, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.SecretaryAddress)
                    @Html.EditorFor(model => model.SecretaryAddress, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
        <br />
        <p></p>
        <div class="form-inline">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.SecretaryCompany)
                    @Html.EditorFor(model => model.SecretaryCompany, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    @Html.LabelFor(model => model.SecretaryHaveSon) </br>
                    @if (Model.SecretaryHaveSon)
                    {
                        <input type="radio" name="SecretaryHaveSon" checked id="SecretaryHaveSon" value="1"> @Html.Label("Si")
                        <input type="radio" name="SecretaryHaveSon" id="NoSecretaryHaveSon" value="0"> @Html.Label("No")
                    }
                    else
                    {
                        <input type="radio" name="SecretaryHaveSon" id="SecretaryHaveSon" value="1"> @Html.Label("Si")
                        <input type="radio" name="SecretaryHaveSon" checked id="NoSecretaryHaveSon" value="0"> @Html.Label("No")
                    }
                    @*@Html.EditorFor(model => model.SecretaryHaveSon)*@
                </div>
            </div>
        </div>
        <br />
        <p style="text-align: justify;">Fecha de nacimiento</p>
        <div class="form-inline">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.SecretaryBirthDay)
                    @Html.EditorFor(model => model.SecretaryBirthDay, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.SecretaryBirthMonth)
                    @Html.EditorFor(model => model.SecretaryBirthMonth, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.SecretaryBirthYear)
                    @Html.EditorFor(model => model.SecretaryBirthYear, new { htmlAttributes = new { @class = "form-control", style = "width: 80px;" } })
                </div>
            </div>
        </div>
        <br />
        <div class="form-inline">
            <div class="form-group">
                <div class="col-md-offset-5 col-md-12">
                    <input id="btnSaveSecretary" type="submit" value="Guardar" class="btn btn-primary" />
                    @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-warning" })
                </div>
            </div>
        </div>
        <br />
    </div>
</div>


<script>
    function onSuccess(respuesta) {
        console.log("Coso"+respuesta);
    }
</script>