﻿@model Big.MeadJohnson.Business.ViewModel.ProfessionalViewModel
@Styles.Render("~/Content/css")
<style>
    $body-bg : #eee; $canvas-bg: #fff; $font1 : Arial, sans-serif; body {
        background-color: $body-bg;
        font-family: $font1;
    }

    canvas {
        display: block;
        margin: 0 auto;
        margin: calc(50vh - 150px) auto 0;
        background: $canvas-bg;
        border-radius: 3px;
        box-shadow: 0px 0px 15px 3px #ccc;
        cursor: pointer;
    }

    p {
        text-align: center;
        cursor: pointer;
    }
</style>

@{
    ViewBag.Title = "Nuevo Profesional";
}
@Html.AntiForgeryToken()
<div class="container" style="background-color: #EEEEEE; opacity: 0.9; margin-top: 25px;">

    <div class="tabbable" style=" margin-top: 50px; margin-left: 25px; margin-right: 25px; border-bottom-width: 50px;">
        <div class="alert alert-warning" role="alert">
                <strong>Recuerda!</strong> Los campos marcados con ( * ) son obligatorios.
            </div>
        

        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Profesional</a></li>
            <li><a href="#tab2" data-toggle="tab">Información de Contacto</a></li>
            <li><a href="#tab3" data-toggle="tab">Información Laboral</a></li>
            <li><a href="#tab4" data-toggle="tab">Información General</a></li>            
            <li><a href="#tab5"  data-toggle="tab">Información de Secretaria</a></li>
            <li><a href="#tab6"  data-toggle="tab">Firma</a></li>
            <li><a href="#tab7"  data-toggle="tab">Firma Secretaria </a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">

                @if (true)
                {
                    <div>
                        @{ Html.RenderAction("CreateProfessional", "Professionals");}
                    </div>
                }
            </div>
            <div class="tab-pane" id="tab2">
                <div>
                    @{ Html.RenderAction("ProfessionalContact", "Professionals");}
                </div>
            </div>
            <div class="tab-pane" id="tab3">
                <div>
                    @{ Html.RenderAction("LaborInformation", "Professionals");}
                </div>
            </div>
            <div class="tab-pane" id="tab4">
                <div>
                    @{ Html.RenderAction("GeneralInformation", "Professionals");}
                </div>
            </div>
            <div class="tab-pane" id="tab5">
                <div>
                    @{ Html.RenderAction("SecretaryInformation", "Professionals");}
                </div>
            </div>
            <div class="tab-pane" id="tab6">
                <div>
                    @{ Html.RenderAction("DigitalSignature", "Professionals");}
                </div>
            </div>
            <div class="tab-pane" id="tab7">
                @{ Html.RenderAction("DigitalSignatureSecretary", "Professionals");}
            </div>
        </div>
    </div>
</div>
<input type="hidden" name="imageData" id="imageData" />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/canvas.js"></script>
}







