﻿@model Big.MeadJohnson.Business.ViewModel.EditProfessionalViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>
                &nbsp;
            </p>
        </div>
        <div class="col-md-12 hidden-xs">
            <p>
                &nbsp;
            </p>
        </div>
        <div class="col-md-12 hidden-xs">
            <p>
                &nbsp;
            </p>
        </div>
        <div class="login">
            <div class="col-md-5">
                <img src="~/Content/img/asset-2.png" class=" img-responsive" style="border-radius: 10px;" />
            </div>
            <div class="col-md-7">
                <br>
                @using (Html.BeginForm("EditAnonymousProfessional", "Professionals", null, FormMethod.Post))
                {

                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.ProfessionalId)

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <strong style="font-size: 23px; color: #29408A;">
                        @Model.FullName
                    </strong>
                    <br>
                    <strong style="font-size: 39px; color: #29408A;">
                        ¡Juntos podremos nutrir de bienestar el futuro!
                    </strong>
                    <br>
                    <br>
                    <span style="font-size: 20px; color: #606060;">
                        Completa tu información personal para mantenerte actualizado con las noticias, beneficios e iniciativas que periódicamente construimos para ti.
                    </span>
                    <br>
                    <br>
                    <p>@Html.CheckBoxFor(model => model.CheckTerms)  @Html.LabelFor(model => model.CheckTerms)  <input type="submit" value="Aceptar" class="btn btn-primary pull-right" /></p>

                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                &nbsp;
            </p>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <div class="login">
                <a href="~/Content/files/habeas.pdf" target="_blank" style="color: #29408A; font-size: 14px; font-weight: bold; text-decoration: underline;">Política del manejo de la información</a>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

